# Project supervised learning - Drunk smurfs

Jean-Baptiste Maene - Denis Topallaj - Lander Pauwels Malengier

## 0. Data-cleaning

In [81]:
# import dependencies

%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use('seaborn-darkgrid')

C:\Users\Jean-Baptiste Maene\AppData\Local\Temp\ipykernel_2508\816365406.py:9: MatplotlibDeprecationWarning: The seaborn styles shipped by Matplotlib are deprecated since 3.6, as they no longer correspond to the styles shipped by seaborn. However, they will remain available as 'seaborn-v0_8-<style>'. Alternatively, directly use the seaborn API instead.
  plt.style.use('seaborn-darkgrid')

In [82]:
# read the csv file

df = pd.read_csv('train_V2.csv')
df_test = pd.read_csv('score.csv')

In [83]:
# analyze data:
# how big is the dataset?
df.shape

(5000, 53)

In [84]:
# what datatypes are used in the dataset?
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 53 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   income_am              4947 non-null   float64
 1   profit_last_am         4947 non-null   float64
 2   profit_am              4947 non-null   float64
 3   damage_am              4954 non-null   float64
 4   damage_inc             4947 non-null   float64
 5   crd_lim_rec            4947 non-null   float64
 6   credit_use_ic          4947 non-null   float64
 7   gluten_ic              4947 non-null   float64
 8   lactose_ic             4947 non-null   float64
 9   insurance_ic           4947 non-null   float64
 10  spa_ic                 4970 non-null   float64
 11  empl_ic                4999 non-null   float64
 12  cab_requests           4912 non-null   float64
 13  married_cd             5000 non-null   bool
 14  bar_no                 4947 non-null   float64
 15  sport_ic               4947 non-null   float64
 16  neighbor_income        4761 non-null   float64
 17  age                    4947 non-null   float64
 18  marketing_permit       4947 non-null   float64
 19  urban_ic               4947 non-null   float64
 20  dining_ic              4912 non-null   float64
 21  presidential           4912 non-null   float64
 22  client_segment         4947 non-null   float64
 23  sect_empl              4947 non-null   float64
 24  prev_stay              4947 non-null   float64
 25  prev_all_in_stay       4947 non-null   float64
 26  divorce                4947 non-null   float64
 27  fam_adult_size         4947 non-null   float64
 28  children_no            4947 non-null   float64
 29  tenure_mts             4608 non-null   float64
 30  tenure_yrs             4608 non-null   float64
 31  company_ic             4947 non-null   float64
 32  claims_no              4947 non-null   float64
 33  claims_am              4973 non-null   float64
 34  nights_booked          4947 non-null   float64
 35  gender                 4947 non-null   object
 36  shop_am                4947 non-null   float64
 37  shop_use               4912 non-null   float64
 38  retired                4947 non-null   float64
 39  gold_status            4947 non-null   float64
 40  score1_pos             1225 non-null   float64
 41  score1_neg             1314 non-null   float64
 42  score2_pos             1209 non-null   float64
 43  score2_neg             1304 non-null   float64
 44  score3_pos             1261 non-null   float64
 45  score3_neg             1367 non-null   float64
 46  score4_pos             1223 non-null   float64
 47  score4_neg             1324 non-null   float64
 48  score5_pos             1232 non-null   float64
 49  score5_neg             1493 non-null   float64
 50  outcome_profit         5000 non-null   float64
 51  outcome_damage_inc     5000 non-null   int64
 52  outcome_damage_amount  5000 non-null   float64
dtypes: bool(1), float64(50), int64(1), object(1)
memory usage: 2.0+ MB

In [85]:
# get some more detailed info about the features
# check if the data of each feature is of the correct datatype
pd.set_option('display.max_columns', None)
df.describe(include='all')

,income_am,profit_last_am,profit_am,damage_am,damage_inc,crd_lim_rec,credit_use_ic,gluten_ic,lactose_ic,insurance_ic,spa_ic,empl_ic,cab_requests,married_cd,bar_no,sport_ic,neighbor_income,age,marketing_permit,urban_ic,dining_ic,presidential,client_segment,sect_empl,prev_stay,prev_all_in_stay,divorce,fam_adult_size,children_no,tenure_mts,tenure_yrs,company_ic,claims_no,claims_am,nights_booked,gender,shop_am,shop_use,retired,gold_status,score1_pos,score1_neg,score2_pos,score2_neg,score3_pos,score3_neg,score4_pos,score4_neg,score5_pos,score5_neg,outcome_profit,outcome_damage_inc,outcome_damage_amount
count,4947.000000,4947.000000,4947.000000,4954.000000,4947.000000,4947.000000,4947.000000,4947.000000,4947.000000,4947.000000,4970.000000,4999.000000,4912.000000,5000,4947.000000,4947.000000,4761.000000,4947.000000,4947.000000,4947.000000,4912.000000,4912.000000,4947.000000,4947.000000,4947.000000,4947.000000,4947.000000,4947.000000,4947.000000,4608.000000,4608.000000,4947.000000,4947.000000,4973.000000,4947.000000,4947,4947.000000,4912.000000,4947.000000,4947.000000,1.225000e+03,1.314000e+03,1.209000e+03,1.304000e+03,1.261000e+03,1.367000e+03,1.223000e+03,1.324000e+03,1.232000e+03,1493.000000,5000.000000,5000.000000,5000.000000
unique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4057,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2490,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,2281.260158,696.057712,3637.900950,145.952967,0.352335,3298.716394,0.041237,0.024661,0.094199,0.390944,0.401811,0.024205,6.051507,NaN,5.646250,0.287043,32778.558916,44.901152,0.495452,0.883970,0.049267,0.004275,1.298565,0.213463,0.889832,0.252678,0.102486,1.960986,0.385082,273.111545,22.780165,0.018597,0.218314,121.078826,28.992521,NaN,403.019960,0.151873,0.182131,0.034769,4.997356e-01,5.003663e-01,4.985522e-01,4.967340e-01,4.942801e-01,4.985876e-01,4.962065e-01,5.013962e-01,5.009593e-01,5.192953,1967.310930,0.255400,189.970736
std,8365.254507,3051.119275,5726.625669,581.068095,0.889449,4549.646039,0.198858,0.155107,0.292134,0.488011,0.490313,0.153700,3.112104,NaN,5.052513,0.452427,6858.671948,16.225094,0.500030,0.320293,0.216447,0.065252,0.800831,0.826006,0.313130,0.434592,0.303317,0.805545,0.832933,152.498416,12.719429,0.135111,0.712408,1783.146726,37.480510,NaN,1335.935144,0.358934,0.385991,0.183212,2.879255e-01,2.887168e-01,2.877572e-01,2.897994e-01,2.899165e-01,2.877292e-01,2.886538e-01,2.876226e-01,2.901323e-01,3.159868,1371.061266,0.436129,379.005941
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,0.000000,0.000000,0.000000,16.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,NaN,0.000000,0.000000,0.000000,0.000000,1.000000e-07,1.000000e-07,1.000000e-07,1.000000e-07,1.000000e-07,1.000000e-07,1.000000e-07,1.000000e-07,1.000000e-07,-7.871775,10.680000,0.000000,0.000000
25%,229.000000,0.000000,1638.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000,NaN,2.000000,0.000000,28630.000000,31.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,154.000000,13.000000,0.000000,0.000000,0.000000,4.000000,NaN,0.000000,0.000000,0.000000,0.000000,2.520205e-01,2.510338e-01,2.521282e-01,2.454209e-01,2.405574e-01,2.495061e-01,2.474100e-01,2.506703e-01,2.514905e-01,3.124958,1333.320000,0.000000,0.000000
50%,469.000000,52.000000,1889.000000,0.000000,0.000000,1500.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,NaN,5.000000,0.000000,31990.000000,45.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,2.000000,0.000000,271.000000,23.000000,0.000000,0.000000,0.000000,11.000000,NaN,0.000000,0.000000,0.000000,0.000000,4.974162e-01,4.986215e-01,4.987791e-01,4.985832e-01,4.942465e-01,5.016458e-01,4.933486e-01,5.020603e-01,5.029121e-01,5.188006,1721.235000,0.000000,0.000000
75%,1688.000000,810.000000,3165.500000,0.000000,0.000000,5000.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,9.000000,NaN,8.000000,1.000000,35924.000000,57.000000,1.000000,1.000000,0.000000,0.000000,2.000000,0.000000,1.000000,1.000000,0.000000,3.000000,0.000000,368.250000,31.000000,0.000000,0.000000,0.000000,45.000000,NaN,0.000000,0.000000,0.000000,0.000000,7.487276e-01,7.516726e-01,7.441403e-01,7.474935e-01,7.449235e-01,7.464826e-01,7.452133e-01,7.493876e-01,7.512817e-01,7.357425,2223.712500,1.000000,202.612500
max,360577.000000,150537.000000,100577.000000,14866.000000,10.000000,30000.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,16.000000,NaN,111.000000,1.000000,104984.000000,97.000000,1.000000,1.000000,1.000000,1.000000,5.000000,6.000000,1.000000,1.000000,1.000000,4.000000,6.000000,679.000000,57.000000,1.000000,9.000000,90587.000000,375.000000,NaN,12098.364339,1.000000,1.000000,1.000000,9.999999e-01,9.999999e-01,9.999999e-01,9.986510e-01,9.999999e-01,9.999999e-01,9.999999e-01,9.993125e-01,9.999999e-01,14.776319,31529.000000,1.000000,3157.240000

In [86]:
# we can see that when profit_last_am is 0 the rest of the data is null
# check if this happens also with other data using currency

filtered_df = df[(df['income_am'].isnull()) & (df['profit_last_am'].isnull()) & (df['profit_am'].isnull()) & (df['damage_am'].isnull())]

filtered_df.head(10)

,income_am,profit_last_am,profit_am,damage_am,damage_inc,crd_lim_rec,credit_use_ic,gluten_ic,lactose_ic,insurance_ic,spa_ic,empl_ic,cab_requests,married_cd,bar_no,sport_ic,neighbor_income,age,marketing_permit,urban_ic,dining_ic,presidential,client_segment,sect_empl,prev_stay,prev_all_in_stay,divorce,fam_adult_size,children_no,tenure_mts,tenure_yrs,company_ic,claims_no,claims_am,nights_booked,gender,shop_am,shop_use,retired,gold_status,score1_pos,score1_neg,score2_pos,score2_neg,score3_pos,score3_neg,score4_pos,score4_neg,score5_pos,score5_neg,outcome_profit,outcome_damage_inc,outcome_damage_amount
306,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2904.56,1,721.46
474,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2543.67,0,0.00
517,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3267.54,0,0.00
670,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2350.49,0,0.00
790,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2269.53,0,0.00
996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2770.55,1,1076.23
1062,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2498.46,0,0.00
1164,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2784.45,0,0.00
1261,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3963.54,0,0.00
1281,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3091.61,0,0.00

In [87]:
# and check if only 1 is null

filtered_df = df[(df['income_am'].isnull()) | (df['profit_last_am'].isnull()) | (df['profit_am'].isnull()) | (df['damage_am'].isnull())]

filtered_df.head(10)

,income_am,profit_last_am,profit_am,damage_am,damage_inc,crd_lim_rec,credit_use_ic,gluten_ic,lactose_ic,insurance_ic,spa_ic,empl_ic,cab_requests,married_cd,bar_no,sport_ic,neighbor_income,age,marketing_permit,urban_ic,dining_ic,presidential,client_segment,sect_empl,prev_stay,prev_all_in_stay,divorce,fam_adult_size,children_no,tenure_mts,tenure_yrs,company_ic,claims_no,claims_am,nights_booked,gender,shop_am,shop_use,retired,gold_status,score1_pos,score1_neg,score2_pos,score2_neg,score3_pos,score3_neg,score4_pos,score4_neg,score5_pos,score5_neg,outcome_profit,outcome_damage_inc,outcome_damage_amount
90,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1665.23,0,0.00
306,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2904.56,1,721.46
474,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2543.67,0,0.00
517,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3267.54,0,0.00
670,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2350.49,0,0.00
790,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2269.53,0,0.00
996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2770.55,1,1076.23
1062,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2498.46,0,0.00
1164,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2784.45,0,0.00
1261,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3963.54,0,0.00

## 0.1 Drop inconsistent or empty data

### 0.1.1 Dropping reoccurring empty rows

In [88]:
# when these three columns are not filled, the rest of the data is not filled.
# the rows without data are dropped.

indexes = df[(df['income_am'].isnull()) & (df['profit_last_am'].isnull()) & (df['profit_am'].isnull())].index

df = df.drop(index=indexes.array)

print('train', df.shape)

# same with the test file

indexes = df_test[(df_test['income_am'].isnull()) & (df_test['profit_last_am'].isnull()) & (df_test['profit_am'].isnull())].index

df_test = df_test.drop(index=indexes.array)

print('test', df_test.shape)

train (4947, 53)
test (496, 50)

### 0.1.2 Dropping duplicates

In [89]:
df.drop_duplicates()

df_test.drop_duplicates()

,income_am,profit_last_am,profit_am,damage_am,damage_inc,crd_lim_rec,credit_use_ic,gluten_ic,lactose_ic,insurance_ic,spa_ic,empl_ic,cab_requests,married_cd,bar_no,sport_ic,neighbor_income,age,marketing_permit,urban_ic,dining_ic,presidential,client_segment,sect_empl,prev_stay,prev_all_in_stay,divorce,fam_adult_size,children_no,tenure_mts,tenure_yrs,company_ic,claims_no,claims_am,nights_booked,gender,shop_am,shop_use,retired,gold_status,score1_pos,score1_neg,score2_pos,score2_neg,score3_pos,score3_neg,score4_pos,score4_neg,score5_pos,score5_neg
0,5660.0,4320.0,8640.0,0.0,0.0,8000.0,0.0,0.0,1.0,0.0,0.0,0.0,11.0,True,6.0,1.0,34033.0,42.0,1.0,1.0,0.0,0.0,2.0,1.0,1.0,1.0,0.0,3.0,2.0,575.0,48.0,0.0,0.0,0.0,52.0,V,4577.729167,1.0,0.0,1.0,0.538419,0.396819,0.423742,0.763608,NaN,NaN,NaN,NaN,NaN,NaN
1,3990.0,9.0,3450.0,0.0,0.0,12500.0,0.0,0.0,0.0,1.0,0.0,0.0,7.0,True,5.0,0.0,36372.0,42.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,2.0,0.0,174.0,15.0,0.0,0.0,0.0,4.0,M,0.000000,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1158.0,82.0,4194.0,408.0,4.0,12000.0,0.0,0.0,0.0,1.0,1.0,0.0,10.0,True,11.0,1.0,37619.0,38.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,3.0,1.0,229.0,19.0,0.0,0.0,0.0,222.0,M,0.000000,0.0,0.0,0.0,0.009811,0.592842,NaN,NaN,0.252444,0.724693,0.818064,0.387361,NaN,NaN
3,2451.0,791.0,2119.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,4.0,True,5.0,0.0,29266.0,66.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,375.0,31.0,0.0,0.0,0.0,3.0,M,0.000000,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,946.0,222.0,2036.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,5.0,True,0.0,0.0,36221.0,63.0,0.0,1.0,0.0,0.0,2.0,0.0,1.0,1.0,0.0,1.0,0.0,417.0,35.0,0.0,0.0,0.0,34.0,V,0.000000,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,820.0,216.0,7794.0,1103.0,3.0,9000.0,0.0,0.0,0.0,1.0,1.0,0.0,5.0,True,3.0,0.0,41379.0,40.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,242.0,20.0,0.0,0.0,0.0,39.0,M,0.000000,0.0,0.0,0.0,0.307239,0.660891,NaN,NaN,0.738333,0.914151,NaN,NaN,0.262224,8.060677
496,6092.0,2100.0,3137.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,6.0,False,8.0,0.0,37460.0,44.0,1.0,1.0,0.0,0.0,2.0,0.0,1.0,0.0,1.0,2.0,0.0,431.0,36.0,0.0,0.0,0.0,2.0,V,4073.484264,1.0,0.0,0.0,NaN,NaN,0.419981,0.668320,NaN,NaN,NaN,NaN,NaN,NaN
497,2301.0,214.0,2516.0,0.0,0.0,11000.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,True,1.0,0.0,24007.0,38.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,2.0,0.0,374.0,31.0,0.0,0.0,0.0,17.0,M,2416.668965,1.0,0.0,0.0,0.837325,0.663044,0.697171,0.353229,NaN,NaN,NaN,NaN,NaN,NaN
498,492.0,0.0,3716.0,713.0,2.0,5000.0,0.0,0.0,0.0,1.0,1.0,0.0,7.0,True,0.0,1.0,36542.0,47.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,3.0,2.0,289.0,24.0,0.0,0.0,0.0,45.0,M,0.000000,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.461598,4.757132
499,266.0,14.0,1769.0,0.0,0.0,11000.0,0.0,0.0,0.0,1.0,0.0,0.0,3.0,True,1.0,0.0,32734.0,45.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,2.0,1.0,339.0,28.0,0.0,0.0,0.0,37.0,V,0.000000,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.643780,0.447084,NaN,NaN,NaN,NaN

### 0.1.3 Dropping outliers

In [90]:
# score5_neg has scores ranging from 7995 trillion to -472 trillion and everything in between. score5_neg and score5_pos will be dropped.

# looking at the score of the other four scoring systems we can confidently say that score5_neg can be dropped (score5_pos also has to be dropped, because they both make a pair)

# quantile score can only range 0 < q < 1

columns = ["score5_neg", "score5_pos"]

for col in columns:
    if col in df.columns:
        df.drop(col, axis=1, inplace=True)

# dropping the score5 for the test data set

for col in columns:
    if col in df_test.columns:
        df_test.drop(col, axis=1, inplace=True)

print("train", df.shape)
print("test", df_test.shape)

train (4947, 51)
test (496, 48)

### 0.1.4 Dropping unethical/'useless' columns

In [91]:
# Having place or origin, race ... as a factor to disallow smurfs from entering a hotel is unethical.

drop_columns = ["urban_ic", "gluten_ic", "lactose_ic"]

for col in drop_columns:
	if col in df.columns:
		df = df.drop(col, axis=1)

for col in drop_columns:
	if col in df_test.columns:
		df_test = df_test.drop(col, axis=1)

print("train", df.shape)
print("test", df_test.shape)

train (4947, 48)
test (496, 45)

## 0.2 Handle missing data

In [92]:
# These are the columns with missing data

print("train\n", df.isnull().sum()[df.isnull().sum() != 0])

print("\ntest\n", df_test.isnull().sum()[df_test.isnull().sum() != 0])

train
 cab_requests         35
neighbor_income     186
dining_ic            35
presidential         35
tenure_mts          339
tenure_yrs          339
shop_use             35
score1_pos         3722
score1_neg         3633
score2_pos         3738
score2_neg         3643
score3_pos         3686
score3_neg         3580
score4_pos         3724
score4_neg         3623
dtype: int64

test
 cab_requests         1
neighbor_income     17
dining_ic            1
presidential         1
tenure_mts          35
tenure_yrs          35
shop_use             1
score1_pos         374
score1_neg         362
score2_pos         385
score2_neg         372
score3_pos         360
score3_neg         351
score4_pos         377
score4_neg         370
dtype: int64

### 0.2.1 Using mean for missing data

In [93]:
from sklearn.impute import SimpleImputer

df_mean_imputed = df.copy()

# mean worthy columns
columns = ["cab_requests", "dining_ic", "presidential", "shop_use", "neighbor_income"]

for col in columns:
	mean_imputer = SimpleImputer(missing_values=np.nan, strategy='mean')

	mean_imputer = mean_imputer.fit(np.array(df[col]).reshape(-1, 1))
 
	df_mean_imputed[col] = mean_imputer.transform(np.array(df[col]).reshape(-1, 1))

print("train\n", df_mean_imputed.isnull().sum()[df_mean_imputed.isnull().sum() != 0])


# using mean_imputer for the test data
df_mean_imputed_test = df_test.copy()

# mean worthy columns
columns = ["cab_requests", "dining_ic", "presidential", "shop_use"]

for col in columns:
	mean_imputer = SimpleImputer(missing_values=np.nan, strategy='mean')

	mean_imputer = mean_imputer.fit(np.array(df_test[col]).reshape(-1, 1))
 
	df_mean_imputed_test[col] = mean_imputer.transform(np.array(df_test[col]).reshape(-1, 1))

print("\ntest\n", df_mean_imputed_test.isnull().sum()[df_mean_imputed_test.isnull().sum() != 0])

train
 tenure_mts     339
tenure_yrs     339
score1_pos    3722
score1_neg    3633
score2_pos    3738
score2_neg    3643
score3_pos    3686
score3_neg    3580
score4_pos    3724
score4_neg    3623
dtype: int64

test
 neighbor_income     17
tenure_mts          35
tenure_yrs          35
score1_pos         374
score1_neg         362
score2_pos         385
score2_neg         372
score3_pos         360
score3_neg         351
score4_pos         377
score4_neg         370
dtype: int64

### 0.2.2 Using KNN for missing data

In [94]:
# K-Nearest Neighbors (KNN) Imputation will be used for "tenure_mts" and "tenure_yrs" because it is a good option when the missingness is random, and there is no clear pattern to the missing data.

from sklearn.impute import KNNImputer

df_knn_imputed = df_mean_imputed.copy()

columns = ["tenure_mts", "tenure_yrs"]

for col in columns:
	knn_imputer = KNNImputer(n_neighbors=5)
	imputed_col = knn_imputer.fit_transform(df_knn_imputed[[col]])
	df_knn_imputed[col] = imputed_col

print("train\n", df_knn_imputed.isnull().sum()[df_knn_imputed.isnull().sum() != 0])


# using the KNNImputer for the test data set

df_knn_imputed_test = df_mean_imputed_test.copy()

columns = ["tenure_mts", "tenure_yrs"]

for col in columns:
	knn_imputer = KNNImputer(n_neighbors=5)
	imputed_col = knn_imputer.fit_transform(df_knn_imputed_test[[col]])
	df_knn_imputed_test[col] = imputed_col

print("\ntest\n", df_knn_imputed_test.isnull().sum()[df_knn_imputed_test.isnull().sum() != 0])

train
 score1_pos    3722
score1_neg    3633
score2_pos    3738
score2_neg    3643
score3_pos    3686
score3_neg    3580
score4_pos    3724
score4_neg    3623
dtype: int64

test
 neighbor_income     17
score1_pos         374
score1_neg         362
score2_pos         385
score2_neg         372
score3_pos         360
score3_neg         351
score4_pos         377
score4_neg         370
dtype: int64

### 0.2.3 Handle missing data for scores

In [ ]:
# We will be looping over each row and averaging the scores inside the pos and neg column.

# When there is no scores given by the staff, the score will default to 0.

# In the end the columns will be dropped and replaced by two new columns: "score_pos" and "score_neg".

# There are also checks added for when columns that need to be removed are already removed.

import numpy as np

def calculate_scores(df, columns):
	for i, row in df.iterrows():
		pos_sum = 0
		pos_count = 0
		neg_sum = 0
		neg_count = 0
		for col in columns:
			if col not in df.columns:
				break
			if "pos" in col:
				if not np.isnan(row[col]):
					pos_sum += row[col]
					pos_count += 1
			elif "neg" in col:
				if not np.isnan(row[col]):
					neg_sum += row[col]
					neg_count += 1
		if pos_count > 0:
			df.at[i, 'score_pos'] = pos_sum / pos_count
		if neg_count > 0:
			df.at[i, 'score_neg'] = neg_sum / neg_count

	df['score_pos'].fillna(0, inplace=True)
	df['score_neg'].fillna(0, inplace=True)
	
	return df

In [ ]:
# columns that need to be altered/removed
columns=["score1_neg", "score1_pos", "score2_pos", "score2_neg", "score3_pos", "score3_neg", "score4_pos", "score4_neg"]

# create new columns that contain the avg of each row
df_knn_imputed = calculate_scores(df_knn_imputed, columns=columns)
df_knn_imputed_test = calculate_scores(df_knn_imputed_test, columns=columns)

# Drop the unneeded columns from the dataset
df_knn_imputed.drop(columns=[col for col in columns if col in df_knn_imputed], inplace=True)

df_knn_imputed_test.drop(columns=[col for col in columns if col in df_knn_imputed_test], inplace=True)

# show the amount of null fields
print("\ntrain\n", df_knn_imputed.isnull().sum()[df_knn_imputed.isnull().sum() != 0])
print("\ntest\n", df_knn_imputed_test.isnull().sum()[df_knn_imputed_test.isnull().sum() != 0])

df_knn_imputed.head()

## 0.3 Changing data types

### 0.3.1 changing floats to int

In [ ]:
# These columns are not meant to be floats.
# ex.: You cannot have 0.214 of a child.
# The few that are floats are price or time related.
# 

columns = ["damage_inc", "credit_use_ic", "insurance_ic", "spa_ic", "empl_ic", "cab_requests", "bar_no", "sport_ic", "age", "marketing_permit", "dining_ic", "presidential", "client_segment", "sect_empl", "prev_stay", "prev_all_in_stay", "divorce", "fam_adult_size", "children_no", "tenure_mts", "tenure_yrs", "company_ic", "claims_no", "nights_booked", "shop_use", "retired", "gold_status"]


for col in columns:
    if not df_knn_imputed[col].empty:
        df_knn_imputed[col] = df_knn_imputed[col].astype(np.int64)

print("train\n", df_knn_imputed.info())

# change type to int64 for the test data set

for col in columns:
    if not df_knn_imputed_test[col].empty:
        df_knn_imputed_test[col] = df_knn_imputed_test[col].astype(np.int64)

### 0.3.2 Changing Boolean into Binary

In [ ]:
# Converting True to 1 and False to 0

df_knn_imputed["married_cd"] = df_knn_imputed["married_cd"].replace({True: 1, False: 0})
df_knn_imputed_test["married_cd"] = df_knn_imputed_test["married_cd"].replace({True: 1, False: 0})

### 0.3.3 Changing the Gender to binary

In [ ]:
# Check if the column gender hasn't already been dropped
if "gender" in df_knn_imputed.columns and "gender" in df_knn_imputed_test.columns:
    
	# If gender contained 'M' -> add 1 to the 'male' column, else 0
	df_knn_imputed['male'] = df_knn_imputed['gender'].apply(lambda x: 1 if x == 'M' else 0)

	# If gender contained 'V' -> add 1 to the 'female' column, else 0
	df_knn_imputed['female'] = df_knn_imputed['gender'].apply(lambda x: 1 if x == 'V' else 0)
		
	# Drop the original 'gender' column
	df_knn_imputed.drop('gender', axis=1, inplace=True)

	# Same for the test data set

	df_knn_imputed_test['male'] = df_knn_imputed_test['gender'].apply(lambda x: 1 if x == 'M' else 0)
	df_knn_imputed_test['female'] = df_knn_imputed_test['gender'].apply(lambda x: 1 if x == 'V' else 0)
	df_knn_imputed_test.drop('gender', axis=1, inplace=True)
 
	# set the type to category
	df_knn_imputed['male'] = df_knn_imputed['male'].astype('category')
	df_knn_imputed['female'] = df_knn_imputed['female'].astype('category')
 
	df_knn_imputed_test['male'] = df_knn_imputed_test['male'].astype('category')
	df_knn_imputed_test['female'] = df_knn_imputed_test['female'].astype('category')

In [ ]:
df_knn_imputed.head()

### 3.3.4 Splitting the categorical data to two binary columns

There are a few columns that have to be converted to categorial types. Columns such as "retired". This indicates if a person is retired or not. At this point it is only shown by 0's and 1's. But the AI doesn't know if the 0 means retired or not.

With this categorial types are used to split the 0's and 1's in their respective columns. The function below this text will convert the given original column to two new columns with their respective values (given by us). It will after also convert the type into categorial. At the end, it will drop the original column.

In [ ]:
def split_column(df, original_column, new_column1, new_column2):
	if original_column not in df.columns:
		return df
	# create two new columns with the same number of rows as the original column
	df[new_column1] = pd.Series(index=df.index)
	df[new_column2] = pd.Series(index=df.index)
	
	# replace the values in the new columns based on the values in the original column    
	df.loc[df[original_column] == 1, new_column1] = 1
	df.loc[df[original_column] == 0, new_column1] = 0
	df.loc[df[original_column] == 1, new_column2] = 0
	df.loc[df[original_column] == 0, new_column2] = 1
	

	# make categorial
	df[new_column1] = df[new_column1].astype('category')
	df[new_column2] = df[new_column2].astype('category')

	# drop the original column
	df.drop(columns=[original_column], inplace=True)
	
	return df

In [ ]:
# adding "yes" and "no" with columns that would otherwise have the same names. ex.: divorce cannot be no_divorce and divorce, because divorce is the original column. So this will be no_divorce and yes_divorce. (Otherwise you'll get empty columns)

df_knn_imputed = split_column(df_knn_imputed, "credit_use_ic", "cash/debitcard_use", "creditcard_use")
df_knn_imputed = split_column(df_knn_imputed, "insurance_ic", "not_insured", "insured")
df_knn_imputed = split_column(df_knn_imputed, "spa_ic", "no_spa", "spa")
df_knn_imputed = split_column(df_knn_imputed, "empl_ic", "no_empl", "empl")
df_knn_imputed = split_column(df_knn_imputed, "sport_ic", "no_sport", "sport")
df_knn_imputed = split_column(df_knn_imputed, "marketing_permit", "no_marketing_perm", "marketing_perm")
df_knn_imputed = split_column(df_knn_imputed, "dining_ic", "no_dining", "dining")
df_knn_imputed = split_column(df_knn_imputed, "presidential", "no_presidential", "yes_presidential")
df_knn_imputed = split_column(df_knn_imputed, "prev_stay", "no_prev_stay", "perv_stay")
df_knn_imputed = split_column(df_knn_imputed, "prev_all_in_stay", "no_prev_all_in_stay", "yes_prev_all_in_stay")
df_knn_imputed = split_column(df_knn_imputed, "divorce", "no_divorce", "yes_divorce")
df_knn_imputed = split_column(df_knn_imputed, "company_ic", "no_company_card", "company_card")
df_knn_imputed = split_column(df_knn_imputed, "shop_use", "no_shop_use", "yes_shop_use")
df_knn_imputed = split_column(df_knn_imputed, "retired", "not_retired", "yes_retired")
df_knn_imputed = split_column(df_knn_imputed, "gold_status", "no_gold_status", "yes_gold_status")
df_knn_imputed = split_column(df_knn_imputed, "outcome_damage_inc", "no_outcome_damage", "outcome_damage")

print(df_knn_imputed.isnull().sum()[df_knn_imputed.isnull().sum() != 0])
# TEST

df_knn_imputed_test = split_column(df_knn_imputed_test, "credit_use_ic", "cash/debitcard_use", "creditcard_use")
df_knn_imputed_test = split_column(df_knn_imputed_test, "insurance_ic", "not_insured", "insured")
df_knn_imputed_test = split_column(df_knn_imputed_test, "spa_ic", "no_spa", "spa")
df_knn_imputed_test = split_column(df_knn_imputed_test, "empl_ic", "no_empl", "empl")
df_knn_imputed_test = split_column(df_knn_imputed_test, "sport_ic", "no_sport", "sport")
df_knn_imputed_test = split_column(df_knn_imputed_test, "marketing_permit", "no_marketing_perm", "marketing_perm")
df_knn_imputed_test = split_column(df_knn_imputed_test, "dining_ic", "no_dining", "dining")
df_knn_imputed_test = split_column(df_knn_imputed_test, "presidential", "no_presidential", "yes_presidential")
df_knn_imputed_test = split_column(df_knn_imputed_test, "prev_stay", "no_prev_stay", "perv_stay")
df_knn_imputed_test = split_column(df_knn_imputed_test, "prev_all_in_stay", "no_prev_all_in_stay", "yes_prev_all_in_stay")
df_knn_imputed_test = split_column(df_knn_imputed_test, "divorce", "no_divorce", "yes_divorce")
df_knn_imputed_test = split_column(df_knn_imputed_test, "company_ic", "no_company_card", "company_card")
df_knn_imputed_test = split_column(df_knn_imputed_test, "shop_use", "no_shop_use", "yes_shop_use")
df_knn_imputed_test = split_column(df_knn_imputed_test, "retired", "not_retired", "yes_retired")
df_knn_imputed_test = split_column(df_knn_imputed_test, "gold_status", "no_gold_status", "yes_gold_status")
df_knn_imputed_test = split_column(df_knn_imputed_test, "outcome_damage_inc", "no_outcome_damage", "outcome_damage")

print(df_knn_imputed_test.isnull().sum()[df_knn_imputed_test.isnull().sum() != 0])

print(df_knn_imputed.info())

In [ ]:
df_knn_imputed.head()

## 0.4 Log-transformation on data

In [ ]:
from scipy.stats import skew


# I will only log transform the 'shop_am' because it is the only column with drastic changes in values. Most of the time it is 0, but other times it is 14542106266736800.

# Because np.log1p() only works with floats, I will change the column 'shop_am' to a float. After the log transform, it is changed back to int64

df_knn_imputed['shop_am'] = df_knn_imputed['shop_am'].astype(np.float64)

skewed = skew(df_knn_imputed['shop_am'].dropna().astype(float))
if skewed > 0.75:
    df_knn_imputed['shop_am'] = np.log1p(df_knn_imputed['shop_am'])

df_knn_imputed['shop_am'] = df_knn_imputed['shop_am'].astype(np.int64)

# now also on the test dataset

df_knn_imputed_test['shop_am'] = df_knn_imputed_test['shop_am'].astype(np.float64)

skewed = skew(df_knn_imputed_test['shop_am'].dropna().astype(float))
if skewed > 0.75:
    df_knn_imputed_test['shop_am'] = np.log1p(df_knn_imputed_test['shop_am'])

df_knn_imputed_test['shop_am'] = df_knn_imputed_test['shop_am'].astype(np.int64)

In [ ]:
# showing the log transformed data

df_knn_imputed['shop_am'].head()

## 0.5 Storing cleaned dataset

In [ ]:
# the cleaned csv will now be in the file train_V2_cleaned and will be used for the rest of the calculations

df_knn_imputed.to_csv('train_V2_cleaned.csv', index=False)
df_knn_imputed_test.to_csv('score_cleaned.csv', index=False)