# Project supervised learning - Drunk smurfs

Jean-Baptiste Maene - Denis Topallaj - Lander Pauwels Malengier

## 0. Data exploration

In [219]:
# import dependencies

%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use('seaborn-darkgrid')

C:\Users\denis\AppData\Local\Temp\ipykernel_17804\816365406.py:9: MatplotlibDeprecationWarning: The seaborn styles shipped by Matplotlib are deprecated since 3.6, as they no longer correspond to the styles shipped by seaborn. However, they will remain available as 'seaborn-v0_8-<style>'. Alternatively, directly use the seaborn API instead.
  plt.style.use('seaborn-darkgrid')

In [220]:
# read the csv file

df = pd.read_csv('train_V2.csv')
df_test = pd.read_csv('score.csv')

In [221]:
# Shape of dataset (rows, columns)

print(df.shape)
print(df_test.shape)

(5000, 53)
(500, 50)

In [222]:
# Datatypes of dataset

print(df.info())
print(df_test.info())

# click on the 'in a text editor' link to see the full output

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 53 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   income_am              4947 non-null   float64
 1   profit_last_am         4947 non-null   float64
 2   profit_am              4947 non-null   float64
 3   damage_am              4954 non-null   float64
 4   damage_inc             4947 non-null   float64
 5   crd_lim_rec            4947 non-null   float64
 6   credit_use_ic          4947 non-null   float64
 7   gluten_ic              4947 non-null   float64
 8   lactose_ic             4947 non-null   float64
 9   insurance_ic           4947 non-null   float64
 10  spa_ic                 4970 non-null   float64
 11  empl_ic                4999 non-null   float64
 12  cab_requests           4912 non-null   float64
 13  married_cd             5000 non-null   bool
 14  bar_no                 4947 non-null   float64
 15  sport_ic               4947 non-null   float64
 16  neighbor_income        4761 non-null   float64
 17  age                    4947 non-null   float64
 18  marketing_permit       4947 non-null   float64
 19  urban_ic               4947 non-null   float64
 20  dining_ic              4912 non-null   float64
 21  presidential           4912 non-null   float64
 22  client_segment         4947 non-null   float64
 23  sect_empl              4947 non-null   float64
 24  prev_stay              4947 non-null   float64
 25  prev_all_in_stay       4947 non-null   float64
 26  divorce                4947 non-null   float64
 27  fam_adult_size         4947 non-null   float64
 28  children_no            4947 non-null   float64
 29  tenure_mts             4608 non-null   float64
 30  tenure_yrs             4608 non-null   float64
 31  company_ic             4947 non-null   float64
 32  claims_no              4947 non-null   float64
 33  claims_am              4973 non-null   float64
 34  nights_booked          4947 non-null   float64
 35  gender                 4947 non-null   object
 36  shop_am                4947 non-null   float64
 37  shop_use               4912 non-null   float64
 38  retired                4947 non-null   float64
 39  gold_status            4947 non-null   float64
 40  score1_pos             1225 non-null   float64
 41  score1_neg             1314 non-null   float64
 42  score2_pos             1209 non-null   float64
 43  score2_neg             1304 non-null   float64
 44  score3_pos             1261 non-null   float64
 45  score3_neg             1367 non-null   float64
 46  score4_pos             1223 non-null   float64
 47  score4_neg             1324 non-null   float64
 48  score5_pos             1232 non-null   float64
 49  score5_neg             1493 non-null   float64
 50  outcome_profit         5000 non-null   float64
 51  outcome_damage_inc     5000 non-null   int64
 52  outcome_damage_amount  5000 non-null   float64
dtypes: bool(1), float64(50), int64(1), object(1)
memory usage: 2.0+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 50 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   income_am         496 non-null    float64
 1   profit_last_am    496 non-null    float64
 2   profit_am         496 non-null    float64
 3   damage_am         497 non-null    float64
 4   damage_inc        496 non-null    float64
 5   crd_lim_rec       496 non-null    float64
 6   credit_use_ic     496 non-null    float64
 7   gluten_ic         496 non-null    float64
 8   lactose_ic        496 non-null    float64
 9   insurance_ic      496 non-null    float64
 10  spa_ic            498 non-null    float64
 11  empl_ic           500 non-null    float64
 12  cab_requests      495 non-null    float64
 13  married_cd        500 non-null    bool
 14  bar_no            496 non-null    float64
 15  sport_ic          496 non-null    float64
 16  neighbor_income   479 non-null    float64
 17  age               496 non-null    float64
 18  marketing_permit  496 non-null    float64
 19  urban_ic          496 non-null    float64
 20  dining_ic         495 non-null    float64
 21  presidential      495 non-null    float64
 22  client_segment    496 non-null    float64
 23  sect_empl         496 non-null    float64
 24  prev_stay         496 non-null    float64
 25  prev_all_in_stay  496 non-null    float64
 26  divorce           496 non-null    float64
 27  fam_adult_size    496 non-null    float64
 28  children_no       496 non-null    float64
 29  tenure_mts        461 non-null    float64
 30  tenure_yrs        461 non-null    float64
 31  company_ic        496 non-null    float64
 32  claims_no         496 non-null    float64
 33  claims_am         499 non-null    float64
 34  nights_booked     496 non-null    float64
 35  gender            496 non-null    object
 36  shop_am           496 non-null    float64
 37  shop_use          495 non-null    float64
 38  retired           496 non-null    float64
 39  gold_status       496 non-null    float64
 40  score1_pos        122 non-null    float64
 41  score1_neg        134 non-null    float64
 42  score2_pos        111 non-null    float64
 43  score2_neg        124 non-null    float64
 44  score3_pos        136 non-null    float64
 45  score3_neg        145 non-null    float64
 46  score4_pos        119 non-null    float64
 47  score4_neg        126 non-null    float64
 48  score5_pos        132 non-null    float64
 49  score5_neg        154 non-null    float64
dtypes: bool(1), float64(48), object(1)
memory usage: 192.0+ KB
None

In [223]:
# More detailed information about each feature
print(df.describe(include='all'))
print(df_test.describe(include='all'))

            income_am  profit_last_am      profit_am     damage_am  \
count     4947.000000     4947.000000    4947.000000   4954.000000
unique            NaN             NaN            NaN           NaN
top               NaN             NaN            NaN           NaN
freq              NaN             NaN            NaN           NaN
mean      2281.260158      696.057712    3637.900950    145.952967
std       8365.254507     3051.119275    5726.625669    581.068095
min          0.000000        0.000000       0.000000      0.000000
25%        229.000000        0.000000    1638.000000      0.000000
50%        469.000000       52.000000    1889.000000      0.000000
75%       1688.000000      810.000000    3165.500000      0.000000
max     360577.000000   150537.000000  100577.000000  14866.000000

         damage_inc   crd_lim_rec  credit_use_ic    gluten_ic   lactose_ic  \
count   4947.000000   4947.000000    4947.000000  4947.000000  4947.000000
unique          NaN           NaN            NaN          NaN          NaN
top             NaN           NaN            NaN          NaN          NaN
freq            NaN           NaN            NaN          NaN          NaN
mean       0.352335   3298.716394       0.041237     0.024661     0.094199
std        0.889449   4549.646039       0.198858     0.155107     0.292134
min        0.000000      0.000000       0.000000     0.000000     0.000000
25%        0.000000      0.000000       0.000000     0.000000     0.000000
50%        0.000000   1500.000000       0.000000     0.000000     0.000000
75%        0.000000   5000.000000       0.000000     0.000000     0.000000
max       10.000000  30000.000000       1.000000     1.000000     1.000000

        insurance_ic  ...    score2_neg    score3_pos    score3_neg  \
count    4947.000000  ...  1.304000e+03  1.261000e+03  1.367000e+03
unique           NaN  ...           NaN           NaN           NaN
top              NaN  ...           NaN           NaN           NaN
freq             NaN  ...           NaN           NaN           NaN
mean        0.390944  ...  4.967340e-01  4.942801e-01  4.985876e-01
std         0.488011  ...  2.897994e-01  2.899165e-01  2.877292e-01
min         0.000000  ...  1.000000e-07  1.000000e-07  1.000000e-07
25%         0.000000  ...  2.454209e-01  2.405574e-01  2.495061e-01
50%         0.000000  ...  4.985832e-01  4.942465e-01  5.016458e-01
75%         1.000000  ...  7.474935e-01  7.449235e-01  7.464826e-01
max         1.000000  ...  9.986510e-01  9.999999e-01  9.999999e-01

          score4_pos    score4_neg    score5_pos   score5_neg  outcome_profit  \
count   1.223000e+03  1.324000e+03  1.232000e+03  1493.000000     5000.000000
unique           NaN           NaN           NaN          NaN             NaN
top              NaN           NaN           NaN          NaN             NaN
freq             NaN           NaN           NaN          NaN             NaN
mean    4.962065e-01  5.013962e-01  5.009593e-01     5.192953     1967.310930
std     2.886538e-01  2.876226e-01  2.901323e-01     3.159868     1371.061266
min     1.000000e-07  1.000000e-07  1.000000e-07    -7.871775       10.680000
25%     2.474100e-01  2.506703e-01  2.514905e-01     3.124958     1333.320000
50%     4.933486e-01  5.020603e-01  5.029121e-01     5.188006     1721.235000
75%     7.452133e-01  7.493876e-01  7.512817e-01     7.357425     2223.712500
max     9.999999e-01  9.993125e-01  9.999999e-01    14.776319    31529.000000

        outcome_damage_inc  outcome_damage_amount
count          5000.000000            5000.000000
unique                 NaN                    NaN
top                    NaN                    NaN
freq                   NaN                    NaN
mean              0.255400             189.970736
std               0.436129             379.005941
min               0.000000               0.000000
25%               0.000000               0.000000
50%               0.000000               0.000000
75%               1.000000             202.612500
max               1.000000            3157.240000

[11 rows x 53 columns]
            income_am  profit_last_am     profit_am    damage_am  damage_inc  \
count      496.000000      496.000000    496.000000   497.000000  496.000000
unique            NaN             NaN           NaN          NaN         NaN
top               NaN             NaN           NaN          NaN         NaN
freq              NaN             NaN           NaN          NaN         NaN
mean      2573.516129      633.254032   3891.360887   148.293763    0.385081
std       7019.691435     1136.802174   5284.425448   436.478086    0.911708
min        227.000000        0.000000   1620.000000     0.000000    0.000000
25%        232.500000        0.000000   1637.000000     0.000000    0.000000
50%        528.500000      101.500000   1955.000000     0.000000    0.000000
75%       2223.750000      817.000000   3578.500000     0.000000    0.000000
max     122993.000000     9463.000000  42142.000000  3343.000000    7.000000

         crd_lim_rec  credit_use_ic   gluten_ic  lactose_ic  insurance_ic  \
count     496.000000     496.000000  496.000000  496.000000    496.000000
unique           NaN            NaN         NaN         NaN           NaN
top              NaN            NaN         NaN         NaN           NaN
freq             NaN            NaN         NaN         NaN           NaN
mean     3388.104839       0.034274    0.024194    0.090726      0.385081
std      4620.095504       0.182116    0.153805    0.287509      0.487106
min         0.000000       0.000000    0.000000    0.000000      0.000000
25%         0.000000       0.000000    0.000000    0.000000      0.000000
50%       750.000000       0.000000    0.000000    0.000000      0.000000
75%      5000.000000       0.000000    0.000000    0.000000      1.000000
max     15000.000000       1.000000    1.000000    1.000000      1.000000

        ...  score1_pos  score1_neg  score2_pos  score2_neg  score3_pos  \
count   ...  122.000000  134.000000  111.000000  124.000000  136.000000
unique  ...         NaN         NaN         NaN         NaN         NaN
top     ...         NaN         NaN         NaN         NaN         NaN
freq    ...         NaN         NaN         NaN         NaN         NaN
mean    ...    0.519385    0.499418    0.501727    0.524469    0.495096
std     ...    0.296407    0.293777    0.281859    0.281483    0.286895
min     ...    0.005318    0.016512    0.000767    0.002151    0.020657
25%     ...    0.294621    0.251502    0.279851    0.307677    0.239524
50%     ...    0.531987    0.479703    0.488407    0.492698    0.498884
75%     ...    0.777602    0.765155    0.745293    0.780450    0.775543
max     ...    0.997703    1.000000    1.000000    1.000000    0.971706

        score3_neg  score4_pos  score4_neg  score5_pos  score5_neg
count   145.000000  119.000000  126.000000  132.000000  154.000000
unique         NaN         NaN         NaN         NaN         NaN
top            NaN         NaN         NaN         NaN         NaN
freq           NaN         NaN         NaN         NaN         NaN
mean      0.485360    0.537287    0.494252    0.504806    4.826028
std       0.292992    0.288562    0.297017    0.303785    2.843074
min       0.009849    0.010242    0.013659    0.005136   -4.092944
25%       0.252781    0.301039    0.205913    0.257488    2.744401
50%       0.447901    0.592578    0.487373    0.469705    4.839778
75%       0.747820    0.779311    0.780295    0.796048    6.825558
max       0.986639    0.997018    0.985003    0.991246   12.113542

[11 rows x 50 columns]

In [224]:
# first 25 rows (0 included, 25 excluded)
print(df.iloc[0:25])
print(df_test.iloc[0:25])

    income_am  profit_last_am  profit_am  damage_am  damage_inc  crd_lim_rec  \
0       227.0             0.0     3201.0      888.0         6.0      15000.0
1       268.0            16.0     1682.0        0.0         0.0        750.0
2       283.0            23.0     1673.0        0.0         0.0        750.0
3       227.0             0.0     1685.0        0.0         0.0          0.0
4      4091.0          1028.0     3425.0      785.0         2.0      14000.0
5      5108.0           289.0     6280.0        0.0         0.0          0.0
6     13293.0            28.0    14704.0        0.0         0.0      15000.0
7       227.0             0.0     1620.0        0.0         0.0          0.0
8       229.0           810.0     1620.0        0.0         0.0          0.0
9       229.0           810.0     1620.0        0.0         0.0          0.0
10     7177.0          2887.0     3770.0        0.0         0.0      15000.0
11     3240.0          1212.0     2750.0     2762.0         6.0      12000.0
12      489.0            49.0     1870.0        0.0         0.0       3500.0
13     1148.0            79.0     1878.0        0.0         0.0       5500.0
14     1480.0             0.0     3819.0        0.0         0.0          0.0
15      257.0             0.0     9757.0     1884.0         4.0          0.0
16      980.0           280.0     1814.0        0.0         0.0        750.0
17      577.0           128.0     1690.0     1075.0         3.0       6000.0
18      227.0             0.0     1620.0        0.0         0.0          0.0
19      227.0           810.0     1620.0        0.0         0.0          0.0
20      227.0             0.0     1620.0        0.0         0.0          0.0
21     1814.0           246.0     2610.0        0.0         2.0      11000.0
22     1637.0           479.0     2935.0        0.0         0.0       5000.0
23      682.0           148.0     1716.0        0.0         0.0        750.0
24      227.0          1562.0     3124.0      849.0         2.0      14000.0

    credit_use_ic  gluten_ic  lactose_ic  insurance_ic  ...  score2_neg  \
0             0.0        0.0         0.0           0.0  ...         NaN
1             0.0        0.0         0.0           1.0  ...         NaN
2             0.0        0.0         0.0           1.0  ...    0.099529
3             0.0        0.0         0.0           0.0  ...         NaN
4             0.0        0.0         1.0           0.0  ...         NaN
5             0.0        0.0         0.0           0.0  ...         NaN
6             0.0        1.0         1.0           1.0  ...    0.901703
7             0.0        0.0         0.0           0.0  ...         NaN
8             0.0        0.0         0.0           1.0  ...         NaN
9             0.0        0.0         0.0           1.0  ...         NaN
10            0.0        0.0         0.0           1.0  ...    0.130548
11            0.0        0.0         0.0           1.0  ...         NaN
12            0.0        0.0         0.0           0.0  ...         NaN
13            0.0        0.0         0.0           0.0  ...         NaN
14            0.0        0.0         0.0           0.0  ...         NaN
15            0.0        0.0         0.0           0.0  ...         NaN
16            0.0        0.0         0.0           0.0  ...         NaN
17            0.0        0.0         0.0           1.0  ...         NaN
18            0.0        0.0         0.0           0.0  ...         NaN
19            0.0        0.0         0.0           0.0  ...         NaN
20            0.0        0.0         0.0           0.0  ...         NaN
21            0.0        0.0         0.0           1.0  ...         NaN
22            0.0        0.0         0.0           1.0  ...         NaN
23            0.0        0.0         0.0           1.0  ...    0.517246
24            0.0        0.0         0.0           0.0  ...    0.393732

    score3_pos  score3_neg  score4_pos  score4_neg  score5_pos  score5_neg  \
0          NaN         NaN    0.838147    0.082288         NaN         NaN
1          NaN         NaN         NaN         NaN         NaN    7.955259
2          NaN         NaN         NaN         NaN    0.101955    1.743020
3          NaN    0.889793         NaN         NaN         NaN         NaN
4     0.330503    0.766294    0.490486    0.542445         NaN         NaN
5     0.421064    0.584441    0.872812    0.668272         NaN         NaN
6          NaN         NaN         NaN         NaN         NaN         NaN
7          NaN         NaN         NaN         NaN         NaN         NaN
8          NaN         NaN         NaN         NaN         NaN    6.894609
9     0.196373    0.318601         NaN         NaN         NaN         NaN
10         NaN         NaN    0.276508    0.882461         NaN         NaN
11         NaN         NaN    0.044849    0.649934         NaN         NaN
12    0.757175    0.886478         NaN         NaN         NaN         NaN
13    0.693465    0.562429         NaN         NaN         NaN         NaN
14         NaN         NaN    0.589025    0.235933    0.583424    2.031952
15    0.445642    0.853737    0.611755    0.072708    0.017489    4.821096
16    0.819586    0.550458         NaN         NaN         NaN         NaN
17         NaN         NaN         NaN         NaN         NaN         NaN
18         NaN         NaN         NaN         NaN         NaN         NaN
19         NaN         NaN         NaN         NaN         NaN         NaN
20         NaN         NaN         NaN         NaN         NaN         NaN
21         NaN         NaN         NaN         NaN    0.379531    5.683562
22         NaN         NaN    0.766207    0.671629         NaN         NaN
23         NaN         NaN         NaN         NaN    0.167524    1.426482
24         NaN         NaN         NaN         NaN         NaN         NaN

    outcome_profit  outcome_damage_inc  outcome_damage_amount
0          1791.66                   0                   0.00
1          1672.78                   1                 829.66
2          1001.40                   0                   0.00
3          1785.59                   0                   0.00
4          3140.74                   0                   0.00
5          4318.76                   0                   0.00
6          1676.75                   1                 888.09
7          1127.05                   0                   0.00
8          1640.31                   0                   0.00
9          1861.78                   1                 981.64
10         1761.14                   1                 483.05
11         2109.04                   1                1046.70
12         1530.76                   0                   0.00
13         1694.48                   0                   0.00
14         2852.01                   0                   0.00
15         3692.95                   1                 400.19
16         1953.79                   0                   0.00
17         2822.35                   1                 898.00
18         1344.72                   1                 298.15
19         1410.55                   0                   0.00
20         1324.40                   0                   0.00
21         1567.26                   0                   0.00
22         1130.12                   0                   0.00
23         2042.24                   0                   0.00
24         2805.15                   0                   0.00

[25 rows x 53 columns]
    income_am  profit_last_am  profit_am  damage_am  damage_inc  crd_lim_rec  \
0      5660.0          4320.0     8640.0        0.0         0.0       8000.0
1      3990.0             9.0     3450.0        0.0         0.0      12500.0
2      1158.0            82.0     4194.0      408.0         4.0      12000.0
3      2451.0           791.0     2119.0        0.0         0.0          0.0
4       946.0           222.0     2036.0        0.0         0.0          0.0
5       227.0             0.0     1620.0        0.0         0.0          0.0
6      1359.0           467.0     2395.0        0.0         0.0      12500.0
7      2591.0           869.0     2209.0        0.0         0.0          0.0
8      6426.0          2018.0     9015.0     2333.0         2.0      10000.0
9      8622.0          3518.0     3014.0        0.0         0.0          0.0
10      280.0            22.0     1956.0        0.0         0.0       1500.0
11      374.0            30.0     1729.0        0.0         0.0       5500.0
12     1386.0           479.0     4054.0      562.0         3.0       8000.0
13      227.0             0.0     1621.0        0.0         0.0          0.0
14     3532.0          1065.0     2337.0        0.0         0.0          0.0
15     1190.0           325.0     6688.0     1676.0         2.0       8500.0
16      927.0           193.0     8747.0        0.0         1.0       3000.0
17      254.0            10.0     3353.0      117.0         2.0       6500.0
18    10450.0           600.0     5322.0        0.0         0.0      15000.0
19      227.0             0.0     1620.0        0.0         0.0          0.0
20      324.0             0.0     2846.0        0.0         0.0       2500.0
21     2093.0           681.0     2458.0     1219.0         4.0       7000.0
22      527.0          1086.0     2172.0        0.0         0.0       3000.0
23      230.0             0.0     1730.0        0.0         0.0        750.0
24      227.0             0.0     1632.0        0.0         0.0          0.0

    credit_use_ic  gluten_ic  lactose_ic  insurance_ic  ...  score1_pos  \
0             0.0        0.0         1.0           0.0  ...    0.538419
1             0.0        0.0         0.0           1.0  ...         NaN
2             0.0        0.0         0.0           1.0  ...    0.009811
3             0.0        0.0         0.0           1.0  ...         NaN
4             0.0        0.0         1.0           0.0  ...         NaN
5             0.0        0.0         0.0           1.0  ...         NaN
6             0.0        0.0         0.0           1.0  ...         NaN
7             0.0        0.0         0.0           0.0  ...         NaN
8             0.0        0.0         0.0           1.0  ...         NaN
9             0.0        0.0         0.0           0.0  ...    0.292888
10            0.0        0.0         0.0           0.0  ...         NaN
11            0.0        0.0         0.0           1.0  ...         NaN
12            0.0        0.0         0.0           1.0  ...    0.297388
13            0.0        0.0         0.0           1.0  ...         NaN
14            0.0        0.0         0.0           0.0  ...    0.997703
15            0.0        0.0         0.0           1.0  ...         NaN
16            0.0        0.0         0.0           1.0  ...    0.068524
17            0.0        0.0         0.0           0.0  ...         NaN
18            0.0        1.0         1.0           1.0  ...         NaN
19            0.0        0.0         0.0           0.0  ...    0.971386
20            0.0        0.0         0.0           1.0  ...         NaN
21            1.0        0.0         0.0           1.0  ...         NaN
22            0.0        0.0         0.0           0.0  ...         NaN
23            0.0        0.0         0.0           1.0  ...         NaN
24            0.0        0.0         0.0           0.0  ...         NaN

    score1_neg  score2_pos  score2_neg  score3_pos  score3_neg  score4_pos  \
0     0.396819    0.423742    0.763608         NaN         NaN         NaN
1          NaN         NaN         NaN         NaN         NaN         NaN
2     0.592842         NaN         NaN    0.252444    0.724693    0.818064
3          NaN         NaN         NaN         NaN         NaN         NaN
4          NaN         NaN         NaN         NaN         NaN         NaN
5          NaN         NaN         NaN         NaN         NaN         NaN
6          NaN         NaN         NaN         NaN         NaN         NaN
7          NaN         NaN         NaN    0.580498    0.585224         NaN
8          NaN         NaN         NaN    0.576605    0.277479         NaN
9     0.788928         NaN         NaN         NaN         NaN         NaN
10         NaN         NaN         NaN    0.863476    0.740132         NaN
11         NaN    0.760389    0.887367         NaN         NaN         NaN
12    0.261332         NaN         NaN         NaN         NaN         NaN
13         NaN         NaN         NaN         NaN         NaN         NaN
14    0.854205    0.173532    0.013940         NaN         NaN    0.347219
15         NaN         NaN         NaN    0.245555    0.164753    0.165831
16    0.599731         NaN         NaN         NaN         NaN         NaN
17         NaN         NaN         NaN         NaN         NaN         NaN
18         NaN    0.719018    0.566020         NaN         NaN    0.576267
19    0.679476         NaN         NaN         NaN         NaN         NaN
20         NaN         NaN         NaN         NaN         NaN         NaN
21         NaN         NaN         NaN    0.061794    0.359742         NaN
22         NaN         NaN         NaN         NaN         NaN    0.619763
23         NaN         NaN         NaN    0.189197    0.333074    0.473830
24         NaN         NaN         NaN         NaN         NaN         NaN

    score4_neg  score5_pos  score5_neg
0          NaN         NaN         NaN
1          NaN         NaN         NaN
2     0.387361         NaN         NaN
3          NaN         NaN         NaN
4          NaN         NaN         NaN
5          NaN         NaN    1.938956
6          NaN         NaN         NaN
7          NaN    0.097950    5.282090
8          NaN         NaN         NaN
9          NaN         NaN         NaN
10         NaN    0.985347    5.545300
11         NaN         NaN         NaN
12         NaN    0.035830    9.289132
13         NaN         NaN         NaN
14    0.589476         NaN         NaN
15    0.097346         NaN         NaN
16         NaN    0.036521   -0.738248
17         NaN         NaN         NaN
18    0.255341         NaN         NaN
19         NaN         NaN         NaN
20         NaN         NaN         NaN
21         NaN    0.330059    6.956439
22    0.204215         NaN         NaN
23    0.878155         NaN         NaN
24         NaN         NaN         NaN

[25 rows x 50 columns]

In [225]:
# When the first three features are NaN, then the rest of the features are NaN.
# We need to remove these in the next chapter

filtered_df = df[(df['income_am'].isnull()) & (df['profit_last_am'].isnull()) & (df['profit_am'].isnull()) & (df['damage_am'].isnull())]

filtered_df.head(10)

,income_am,profit_last_am,profit_am,damage_am,damage_inc,crd_lim_rec,credit_use_ic,gluten_ic,lactose_ic,insurance_ic,...,score2_neg,score3_pos,score3_neg,score4_pos,score4_neg,score5_pos,score5_neg,outcome_profit,outcome_damage_inc,outcome_damage_amount
306,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2904.56,1,721.46
474,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2543.67,0,0.00
517,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3267.54,0,0.00
670,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2350.49,0,0.00
790,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2269.53,0,0.00
996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2770.55,1,1076.23
1062,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2498.46,0,0.00
1164,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2784.45,0,0.00
1261,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3963.54,0,0.00
1281,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3091.61,0,0.00

## 0.1 Drop inconsistent or empty data

### 0.1.1 Dropping reoccurring empty rows

In [226]:
# when these three columns are not filled, the rest of the data is not filled.
# the rows without data are dropped.

indexes = df[(df['income_am'].isnull()) & (df['profit_last_am'].isnull()) & (df['profit_am'].isnull())].index

df = df.drop(index=indexes.array)

print('train', df.shape)

# same with the test file

indexes = df_test[(df_test['income_am'].isnull()) & (df_test['profit_last_am'].isnull()) & (df_test['profit_am'].isnull())].index

df_test = df_test.drop(index=indexes.array)

print('test', df_test.shape)

train (4947, 53)
test (496, 50)

### 0.1.2 Dropping duplicates

In [227]:
df.drop_duplicates()

df_test.drop_duplicates()

,income_am,profit_last_am,profit_am,damage_am,damage_inc,crd_lim_rec,credit_use_ic,gluten_ic,lactose_ic,insurance_ic,...,score1_pos,score1_neg,score2_pos,score2_neg,score3_pos,score3_neg,score4_pos,score4_neg,score5_pos,score5_neg
0,5660.0,4320.0,8640.0,0.0,0.0,8000.0,0.0,0.0,1.0,0.0,...,0.538419,0.396819,0.423742,0.763608,NaN,NaN,NaN,NaN,NaN,NaN
1,3990.0,9.0,3450.0,0.0,0.0,12500.0,0.0,0.0,0.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1158.0,82.0,4194.0,408.0,4.0,12000.0,0.0,0.0,0.0,1.0,...,0.009811,0.592842,NaN,NaN,0.252444,0.724693,0.818064,0.387361,NaN,NaN
3,2451.0,791.0,2119.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,946.0,222.0,2036.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,820.0,216.0,7794.0,1103.0,3.0,9000.0,0.0,0.0,0.0,1.0,...,0.307239,0.660891,NaN,NaN,0.738333,0.914151,NaN,NaN,0.262224,8.060677
496,6092.0,2100.0,3137.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,0.419981,0.668320,NaN,NaN,NaN,NaN,NaN,NaN
497,2301.0,214.0,2516.0,0.0,0.0,11000.0,0.0,0.0,0.0,0.0,...,0.837325,0.663044,0.697171,0.353229,NaN,NaN,NaN,NaN,NaN,NaN
498,492.0,0.0,3716.0,713.0,2.0,5000.0,0.0,0.0,0.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.461598,4.757132
499,266.0,14.0,1769.0,0.0,0.0,11000.0,0.0,0.0,0.0,1.0,...,NaN,NaN,NaN,NaN,0.643780,0.447084,NaN,NaN,NaN,NaN

### 0.1.3 Dropping outliers

In [228]:
# score5_neg has scores ranging from 7995 trillion to -472 trillion and everything in between. score5_neg and score5_pos will be dropped.

# looking at the score of the other four scoring systems we can confidently say that score5_neg can be dropped (score5_pos also has to be dropped, because they both make a pair)

# quantile score can only range 0 < q < 1

columns = ["score5_neg", "score5_pos"]

for col in columns:
    if col in df.columns:
        df.drop(col, axis=1, inplace=True)

# dropping the score5 for the test data set

for col in columns:
    if col in df_test.columns:
        df_test.drop(col, axis=1, inplace=True)

print("train", df.shape)
print("test", df_test.shape)

train (4947, 51)
test (496, 48)

### 0.1.4 Dropping unethical/'useless' columns

In [229]:
# Having place or origin, race ... as a factor to disallow smurfs from entering a hotel is unethical.

drop_columns = ["urban_ic", "gluten_ic", "lactose_ic"]

for col in drop_columns:
	if col in df.columns:
		df = df.drop(col, axis=1)

for col in drop_columns:
	if col in df_test.columns:
		df_test = df_test.drop(col, axis=1)

print("train", df.shape)
print("test", df_test.shape)

train (4947, 48)
test (496, 45)

## 0.2 Handle missing data

In [230]:
# These are the columns with missing data

print("train\n", df.isnull().sum()[df.isnull().sum() != 0])

print("\ntest\n", df_test.isnull().sum()[df_test.isnull().sum() != 0])

train
 cab_requests         35
neighbor_income     186
dining_ic            35
presidential         35
tenure_mts          339
tenure_yrs          339
shop_use             35
score1_pos         3722
score1_neg         3633
score2_pos         3738
score2_neg         3643
score3_pos         3686
score3_neg         3580
score4_pos         3724
score4_neg         3623
dtype: int64

test
 cab_requests         1
neighbor_income     17
dining_ic            1
presidential         1
tenure_mts          35
tenure_yrs          35
shop_use             1
score1_pos         374
score1_neg         362
score2_pos         385
score2_neg         372
score3_pos         360
score3_neg         351
score4_pos         377
score4_neg         370
dtype: int64

### 0.2.1 Using mean for missing data

In [231]:
from sklearn.impute import SimpleImputer

df_mean_imputed = df.copy()

# mean worthy columns
columns = ["cab_requests", "dining_ic", "presidential", "shop_use", "neighbor_income"]

for col in columns:
	mean_imputer = SimpleImputer(missing_values=np.nan, strategy='mean')

	mean_imputer = mean_imputer.fit(np.array(df[col]).reshape(-1, 1))
 
	df_mean_imputed[col] = mean_imputer.transform(np.array(df[col]).reshape(-1, 1))

print("train\n", df_mean_imputed.isnull().sum()[df_mean_imputed.isnull().sum() != 0])


# using mean_imputer for the test data
df_mean_imputed_test = df_test.copy()

for col in columns:
	mean_imputer = SimpleImputer(missing_values=np.nan, strategy='mean')

	mean_imputer = mean_imputer.fit(np.array(df_test[col]).reshape(-1, 1))
 
	df_mean_imputed_test[col] = mean_imputer.transform(np.array(df_test[col]).reshape(-1, 1))

print("\ntest\n", df_mean_imputed_test.isnull().sum()[df_mean_imputed_test.isnull().sum() != 0])

train
 tenure_mts     339
tenure_yrs     339
score1_pos    3722
score1_neg    3633
score2_pos    3738
score2_neg    3643
score3_pos    3686
score3_neg    3580
score4_pos    3724
score4_neg    3623
dtype: int64

test
 tenure_mts     35
tenure_yrs     35
score1_pos    374
score1_neg    362
score2_pos    385
score2_neg    372
score3_pos    360
score3_neg    351
score4_pos    377
score4_neg    370
dtype: int64

### 0.2.2 Using KNNImputer for missing data

In [232]:
# K-Nearest Neighbors (KNN) Imputation will be used for "tenure_mts" and "tenure_yrs" because it is a good option when the missingness is random, and there is no clear pattern to the missing data.

from sklearn.impute import KNNImputer

df_knn_imputed = df_mean_imputed.copy()

columns = ["tenure_mts", "tenure_yrs"]

for col in columns:
	knn_imputer = KNNImputer(n_neighbors=5)
	imputed_col = knn_imputer.fit_transform(df_knn_imputed[[col]])
	df_knn_imputed[col] = imputed_col

print("train\n", df_knn_imputed.isnull().sum()[df_knn_imputed.isnull().sum() != 0])


# using the KNNImputer for the test data set

df_knn_imputed_test = df_mean_imputed_test.copy()

columns = ["tenure_mts", "tenure_yrs"]

for col in columns:
	knn_imputer = KNNImputer(n_neighbors=5)
	imputed_col = knn_imputer.fit_transform(df_knn_imputed_test[[col]])
	df_knn_imputed_test[col] = imputed_col

print("\ntest\n", df_knn_imputed_test.isnull().sum()[df_knn_imputed_test.isnull().sum() != 0])

train
 score1_pos    3722
score1_neg    3633
score2_pos    3738
score2_neg    3643
score3_pos    3686
score3_neg    3580
score4_pos    3724
score4_neg    3623
dtype: int64

test
 score1_pos    374
score1_neg    362
score2_pos    385
score2_neg    372
score3_pos    360
score3_neg    351
score4_pos    377
score4_neg    370
dtype: int64

### 0.2.3 Handle missing data for scores

In [233]:
# We will be looping over each row and averaging the scores inside the pos and neg column.

# When there is no scores given by the staff, the score will default to 0.

# In the end the columns will be dropped and replaced by two new columns: "score_pos" and "score_neg".

# There are also checks added for when columns that need to be removed are already removed.

import numpy as np

def calculate_scores(df, columns):
	for i, row in df.iterrows():
		pos_sum = 0
		pos_count = 0
		neg_sum = 0
		neg_count = 0
		for col in columns:
			if col not in df.columns:
				break
			if "pos" in col:
				if not np.isnan(row[col]):
					pos_sum += row[col]
					pos_count += 1
			elif "neg" in col:
				if not np.isnan(row[col]):
					neg_sum += row[col]
					neg_count += 1
		if pos_count > 0:
			df.at[i, 'score_pos'] = pos_sum / pos_count
		if neg_count > 0:
			df.at[i, 'score_neg'] = neg_sum / neg_count

	df['score_pos'].fillna(0, inplace=True)
	df['score_neg'].fillna(0, inplace=True)
	
	return df

In [234]:
# columns that need to be altered/removed
columns=["score1_neg", "score1_pos", "score2_pos", "score2_neg", "score3_pos", "score3_neg", "score4_pos", "score4_neg"]

# create new columns that contain the avg of each row
df_knn_imputed = calculate_scores(df_knn_imputed, columns=columns)
df_knn_imputed_test = calculate_scores(df_knn_imputed_test, columns=columns)

# Drop the unneeded columns from the dataset
df_knn_imputed.drop(columns=[col for col in columns if col in df_knn_imputed], inplace=True)

df_knn_imputed_test.drop(columns=[col for col in columns if col in df_knn_imputed_test], inplace=True)

# show the amount of null fields
print("\ntrain\n", df_knn_imputed.isnull().sum()[df_knn_imputed.isnull().sum() != 0])
print("\ntest\n", df_knn_imputed_test.isnull().sum()[df_knn_imputed_test.isnull().sum() != 0])

df_knn_imputed.head()

train
 Series([], dtype: int64)

test
 Series([], dtype: int64)

,income_am,profit_last_am,profit_am,damage_am,damage_inc,crd_lim_rec,credit_use_ic,insurance_ic,spa_ic,empl_ic,...,gender,shop_am,shop_use,retired,gold_status,outcome_profit,outcome_damage_inc,outcome_damage_amount,score_pos,score_neg
0,227.0,0.0,3201.0,888.0,6.0,15000.0,0.0,0.0,1.0,0.0,...,M,0.000000,0.0,0.0,0.0,1791.66,0,0.00,0.652958,0.532814
1,268.0,16.0,1682.0,0.0,0.0,750.0,0.0,1.0,1.0,0.0,...,M,0.000000,0.0,0.0,0.0,1672.78,1,829.66,0.000000,0.000000
2,283.0,23.0,1673.0,0.0,0.0,750.0,0.0,1.0,0.0,0.0,...,M,0.000000,0.0,0.0,0.0,1001.40,0,0.00,0.232375,0.099529
3,227.0,0.0,1685.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,V,0.000000,0.0,0.0,0.0,1785.59,0,0.00,0.000000,0.889793
4,4091.0,1028.0,3425.0,785.0,2.0,14000.0,0.0,0.0,1.0,0.0,...,V,1454.210627,1.0,0.0,0.0,3140.74,0,0.00,0.410495,0.654370

## 0.3 Changing data types

### 0.3.1 changing floats to int

In [235]:
# These columns are not meant to be floats.
# ex.: You cannot have 0.214 of a child.
# The few that are floats are price or time related.
# 

columns = ["damage_inc", "credit_use_ic", "insurance_ic", "spa_ic", "empl_ic", "cab_requests", "bar_no", "sport_ic", "age", "marketing_permit", "dining_ic", "presidential", "client_segment", "sect_empl", "prev_stay", "prev_all_in_stay", "divorce", "fam_adult_size", "children_no", "tenure_mts", "tenure_yrs", "company_ic", "claims_no", "nights_booked", "shop_use", "retired", "gold_status"]


for col in columns:
    if not df_knn_imputed[col].empty:
        df_knn_imputed[col] = df_knn_imputed[col].astype(np.int64)

print("train\n", df_knn_imputed.info())

# change type to int64 for the test data set

for col in columns:
    if not df_knn_imputed_test[col].empty:
        df_knn_imputed_test[col] = df_knn_imputed_test[col].astype(np.int64)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4947 entries, 0 to 4999
Data columns (total 42 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   income_am              4947 non-null   float64
 1   profit_last_am         4947 non-null   float64
 2   profit_am              4947 non-null   float64
 3   damage_am              4947 non-null   float64
 4   damage_inc             4947 non-null   int64
 5   crd_lim_rec            4947 non-null   float64
 6   credit_use_ic          4947 non-null   int64
 7   insurance_ic           4947 non-null   int64
 8   spa_ic                 4947 non-null   int64
 9   empl_ic                4947 non-null   int64
 10  cab_requests           4947 non-null   int64
 11  married_cd             4947 non-null   bool
 12  bar_no                 4947 non-null   int64
 13  sport_ic               4947 non-null   int64
 14  neighbor_income        4947 non-null   float64
 15  age                    4947 non-null   int64
 16  marketing_permit       4947 non-null   int64
 17  dining_ic              4947 non-null   int64
 18  presidential           4947 non-null   int64
 19  client_segment         4947 non-null   int64
 20  sect_empl              4947 non-null   int64
 21  prev_stay              4947 non-null   int64
 22  prev_all_in_stay       4947 non-null   int64
 23  divorce                4947 non-null   int64
 24  fam_adult_size         4947 non-null   int64
 25  children_no            4947 non-null   int64
 26  tenure_mts             4947 non-null   int64
 27  tenure_yrs             4947 non-null   int64
 28  company_ic             4947 non-null   int64
 29  claims_no              4947 non-null   int64
 30  claims_am              4947 non-null   float64
 31  nights_booked          4947 non-null   int64
 32  gender                 4947 non-null   object
 33  shop_am                4947 non-null   float64
 34  shop_use               4947 non-null   int64
 35  retired                4947 non-null   int64
 36  gold_status            4947 non-null   int64
 37  outcome_profit         4947 non-null   float64
 38  outcome_damage_inc     4947 non-null   int64
 39  outcome_damage_amount  4947 non-null   float64
 40  score_pos              4947 non-null   float64
 41  score_neg              4947 non-null   float64
dtypes: bool(1), float64(12), int64(28), object(1)
memory usage: 1.7+ MB
train
 None

### 0.3.2 Changing Boolean into Binary

In [236]:
# Converting True to 1 and False to 0

df_knn_imputed["married_cd"] = df_knn_imputed["married_cd"].replace({True: 1, False: 0})
df_knn_imputed_test["married_cd"] = df_knn_imputed_test["married_cd"].replace({True: 1, False: 0})

### 0.3.3 Changing the Gender to binary

In [237]:
# Check if the column gender hasn't already been dropped
if "gender" in df_knn_imputed.columns and "gender" in df_knn_imputed_test.columns:
    
	# If gender contained 'M' -> add 1 to the 'male' column, else 0
	df_knn_imputed['male'] = df_knn_imputed['gender'].apply(lambda x: 1 if x == 'M' else 0)

	# If gender contained 'V' -> add 1 to the 'female' column, else 0
	df_knn_imputed['female'] = df_knn_imputed['gender'].apply(lambda x: 1 if x == 'V' else 0)
		
	# Drop the original 'gender' column
	df_knn_imputed.drop('gender', axis=1, inplace=True)

	# Same for the test data set

	df_knn_imputed_test['male'] = df_knn_imputed_test['gender'].apply(lambda x: 1 if x == 'M' else 0)
	df_knn_imputed_test['female'] = df_knn_imputed_test['gender'].apply(lambda x: 1 if x == 'V' else 0)
	df_knn_imputed_test.drop('gender', axis=1, inplace=True)
 
	# set the type to category
	df_knn_imputed['male'] = df_knn_imputed['male'].astype('category')
	df_knn_imputed['female'] = df_knn_imputed['female'].astype('category')
 
	df_knn_imputed_test['male'] = df_knn_imputed_test['male'].astype('category')
	df_knn_imputed_test['female'] = df_knn_imputed_test['female'].astype('category')

In [238]:
filtered_df = df[(df['income_am'] == 0) | (df['profit_last_am'] == 0) | (df['profit_am'] == 0) | (df['damage_am'] == 0)]

filtered_df.head(100)

,income_am,profit_last_am,profit_am,damage_am,damage_inc,crd_lim_rec,credit_use_ic,insurance_ic,spa_ic,empl_ic,...,score1_neg,score2_pos,score2_neg,score3_pos,score3_neg,score4_pos,score4_neg,outcome_profit,outcome_damage_inc,outcome_damage_amount
0,227.0,0.0,3201.0,888.0,6.0,15000.0,0.0,0.0,1.0,0.0,...,0.983340,NaN,NaN,NaN,NaN,0.838147,0.082288,1791.66,0,0.00
1,268.0,16.0,1682.0,0.0,0.0,750.0,0.0,1.0,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1672.78,1,829.66
2,283.0,23.0,1673.0,0.0,0.0,750.0,0.0,1.0,0.0,0.0,...,NaN,0.232375,0.099529,NaN,NaN,NaN,NaN,1001.40,0,0.00
3,227.0,0.0,1685.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,0.889793,NaN,NaN,1785.59,0,0.00
5,5108.0,289.0,6280.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,0.421064,0.584441,0.872812,0.668272,4318.76,0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107,892.0,811.5,1623.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,0.357920,0.663339,NaN,NaN,1714.72,0,0.00
108,3717.0,1334.0,2393.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.236377,NaN,NaN,0.423904,0.076814,NaN,NaN,1508.20,0,0.00
109,1191.0,0.0,4167.0,0.0,0.0,1500.0,0.0,1.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1693.10,0,0.00
110,271.0,0.0,1707.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1211.22,0,0.00
112,236.0,1.0,1623.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2060.21,0,0.00

## 0.1 Drop inconsistent or empty data

There are a few columns that have to be converted to categorial types. Columns such as "retired". This indicates if a person is retired or not. At this point it is only shown by 0's and 1's. But the AI doesn't know if the 0 means retired or not.

With this categorial types are used to split the 0's and 1's in their respective columns. The function below this text will convert the given original column to two new columns with their respective values (given by us). It will after also convert the type into categorial. At the end, it will drop the original column.

In [239]:
def split_column(df, original_column, new_column1, new_column2):
	if original_column not in df.columns:
		return df
	# create two new columns with the same number of rows as the original column
	df[new_column1] = pd.Series(index=df.index)
	df[new_column2] = pd.Series(index=df.index)
	
	# replace the values in the new columns based on the values in the original column    
	df.loc[df[original_column] == 1, new_column1] = 1
	df.loc[df[original_column] == 0, new_column1] = 0
	df.loc[df[original_column] == 1, new_column2] = 0
	df.loc[df[original_column] == 0, new_column2] = 1
	

	# make categorial
	df[new_column1] = df[new_column1].astype('category')
	df[new_column2] = df[new_column2].astype('category')

	# drop the original column
	df.drop(columns=[original_column], inplace=True)
	
	return df

In [240]:
# when these three columns are not filled, the rest of the data is not filled.
# the rows without data are dropped.

indexes = df[(df['income_am'].isnull()) & (df['profit_last_am'].isnull()) & (df['profit_am'].isnull())].index

df = df.drop(index=indexes.array)

print('train', df.shape)

# same with the test file

indexes = df_test[(df_test['income_am'].isnull()) & (df_test['profit_last_am'].isnull()) & (df_test['profit_am'].isnull())].index

df_test = df_test.drop(index=indexes.array)

print('test', df_test.shape)

train (4947, 48)
test (496, 45)

### 0.1.2 Dropping duplicates

In [241]:
df.drop_duplicates()

df_test.drop_duplicates()

,income_am,profit_last_am,profit_am,damage_am,damage_inc,crd_lim_rec,credit_use_ic,insurance_ic,spa_ic,empl_ic,...,retired,gold_status,score1_pos,score1_neg,score2_pos,score2_neg,score3_pos,score3_neg,score4_pos,score4_neg
0,5660.0,4320.0,8640.0,0.0,0.0,8000.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.538419,0.396819,0.423742,0.763608,NaN,NaN,NaN,NaN
1,3990.0,9.0,3450.0,0.0,0.0,12500.0,0.0,1.0,0.0,0.0,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1158.0,82.0,4194.0,408.0,4.0,12000.0,0.0,1.0,1.0,0.0,...,0.0,0.0,0.009811,0.592842,NaN,NaN,0.252444,0.724693,0.818064,0.387361
3,2451.0,791.0,2119.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,946.0,222.0,2036.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,820.0,216.0,7794.0,1103.0,3.0,9000.0,0.0,1.0,1.0,0.0,...,0.0,0.0,0.307239,0.660891,NaN,NaN,0.738333,0.914151,NaN,NaN
496,6092.0,2100.0,3137.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,NaN,NaN,0.419981,0.668320,NaN,NaN,NaN,NaN
497,2301.0,214.0,2516.0,0.0,0.0,11000.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.837325,0.663044,0.697171,0.353229,NaN,NaN,NaN,NaN
498,492.0,0.0,3716.0,713.0,2.0,5000.0,0.0,1.0,1.0,0.0,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
499,266.0,14.0,1769.0,0.0,0.0,11000.0,0.0,1.0,0.0,0.0,...,0.0,0.0,NaN,NaN,NaN,NaN,0.643780,0.447084,NaN,NaN

### 0.1.3 Dropping outliers

In [242]:
# score5_neg has scores ranging from 7995 trillion to -472 trillion and everything in between. score5_neg and score5_pos will be dropped.

# looking at the score of the other four scoring systems we can confidently say that score5_neg can be dropped (score5_pos also has to be dropped, because they both make a pair)

# quantile score can only range 0 < q < 1

columns = ["score5_neg", "score5_pos"]

for col in columns:
    if col in df.columns:
        df.drop(col, axis=1, inplace=True)

# dropping the score5 for the test data set

for col in columns:
    if col in df_test.columns:
        df_test.drop(col, axis=1, inplace=True)

print("train", df.shape)
print("test", df_test.shape)

train (4947, 48)
test (496, 45)

### 0.1.4 Dropping unethical/'useless' columns

In [243]:
# Having gender, place or origin, race ... as a factor to disallow smurfs from entering a hotel is unethical.

if "urban_ic" in df.columns and "neighbor_income" in df.columns and "gender" in df.columns:
	df = df.drop('urban_ic', axis=1)
	df = df.drop('neighbor_income', axis=1)
	# df = df.drop('gender', axis=1)
 
if "urban_ic" in df_test.columns and "neighbor_income" in df_test.columns and "gender" in df_test.columns:
	df_test = df_test.drop('urban_ic', axis=1)
	df_test = df_test.drop('neighbor_income', axis=1)
	# df_test = df_test.drop('gender', axis=1)

print("train", df.shape)
print("test", df_test.shape)

train (4947, 48)
test (496, 45)

## 0.2 Handle missing data

In [244]:
# These are the columns with missing data

print("train\n", df.isnull().sum()[df.isnull().sum() != 0])

print("\ntest\n", df_test.isnull().sum()[df_test.isnull().sum() != 0])

train
 cab_requests         35
neighbor_income     186
dining_ic            35
presidential         35
tenure_mts          339
tenure_yrs          339
shop_use             35
score1_pos         3722
score1_neg         3633
score2_pos         3738
score2_neg         3643
score3_pos         3686
score3_neg         3580
score4_pos         3724
score4_neg         3623
dtype: int64

test
 cab_requests         1
neighbor_income     17
dining_ic            1
presidential         1
tenure_mts          35
tenure_yrs          35
shop_use             1
score1_pos         374
score1_neg         362
score2_pos         385
score2_neg         372
score3_pos         360
score3_neg         351
score4_pos         377
score4_neg         370
dtype: int64

### 0.2.1 Using mean for missing data

In [245]:
from sklearn.impute import SimpleImputer

df_mean_imputed = df.copy()

# mean worthy columns
columns = ["cab_requests", "dining_ic", "presidential", "shop_use", "neighbor_income"]

for col in columns:
	mean_imputer = SimpleImputer(missing_values=np.nan, strategy='mean')

	mean_imputer = mean_imputer.fit(np.array(df[col]).reshape(-1, 1))
 
	df_mean_imputed[col] = mean_imputer.transform(np.array(df[col]).reshape(-1, 1))

print("train\n", df_mean_imputed.isnull().sum()[df_mean_imputed.isnull().sum() != 0])


# using mean_imputer for the test data
df_mean_imputed_test = df_test.copy()

for col in columns:
	mean_imputer = SimpleImputer(missing_values=np.nan, strategy='mean')

	mean_imputer = mean_imputer.fit(np.array(df_test[col]).reshape(-1, 1))
 
	df_mean_imputed_test[col] = mean_imputer.transform(np.array(df_test[col]).reshape(-1, 1))

print("\ntest\n", df_mean_imputed_test.isnull().sum()[df_mean_imputed_test.isnull().sum() != 0])

train
 tenure_mts     339
tenure_yrs     339
score1_pos    3722
score1_neg    3633
score2_pos    3738
score2_neg    3643
score3_pos    3686
score3_neg    3580
score4_pos    3724
score4_neg    3623
dtype: int64

test
 tenure_mts     35
tenure_yrs     35
score1_pos    374
score1_neg    362
score2_pos    385
score2_neg    372
score3_pos    360
score3_neg    351
score4_pos    377
score4_neg    370
dtype: int64

### 0.2.2 Using KNN for missing data

In [246]:
# K-Nearest Neighbors (KNN) Imputation will be used for "tenure_mts" and "tenure_yrs" because it is a good option when the missingness is random, and there is no clear pattern to the missing data.

from sklearn.impute import KNNImputer

df_knn_imputed = df_mean_imputed.copy()

columns = ["tenure_mts", "tenure_yrs"]

for col in columns:
	knn_imputer = KNNImputer(n_neighbors=5)
	imputed_col = knn_imputer.fit_transform(df_knn_imputed[[col]])
	df_knn_imputed[col] = imputed_col

print("train\n", df_knn_imputed.isnull().sum()[df_knn_imputed.isnull().sum() != 0])


# using the KNNImputer for the test data set

df_knn_imputed_test = df_mean_imputed_test.copy()

columns = ["tenure_mts", "tenure_yrs"]

for col in columns:
	knn_imputer = KNNImputer(n_neighbors=5)
	imputed_col = knn_imputer.fit_transform(df_knn_imputed_test[[col]])
	df_knn_imputed_test[col] = imputed_col

print("\ntest\n", df_knn_imputed_test.isnull().sum()[df_knn_imputed_test.isnull().sum() != 0])

train
 score1_pos    3722
score1_neg    3633
score2_pos    3738
score2_neg    3643
score3_pos    3686
score3_neg    3580
score4_pos    3724
score4_neg    3623
dtype: int64

test
 score1_pos    374
score1_neg    362
score2_pos    385
score2_neg    372
score3_pos    360
score3_neg    351
score4_pos    377
score4_neg    370
dtype: int64

### 0.2.3 Handle missing data for scores

In [247]:
# We will be looping over each row and averaging the scores inside the pos and neg column.

# When there is no scores given by the staff, the score will default to 0.

# In the end the columns will be dropped and replaced by two new columns: "score_pos" and "score_neg".

# There are also checks added for when columns that need to be removed are already removed.

import numpy as np

def calculate_scores(df, columns):
	for i, row in df.iterrows():
		pos_sum = 0
		pos_count = 0
		neg_sum = 0
		neg_count = 0
		for col in columns:
			if col not in df.columns:
				break
			if "pos" in col:
				if not np.isnan(row[col]):
					pos_sum += row[col]
					pos_count += 1
			elif "neg" in col:
				if not np.isnan(row[col]):
					neg_sum += row[col]
					neg_count += 1
		if pos_count > 0:
			df.at[i, 'score_pos'] = pos_sum / pos_count
		if neg_count > 0:
			df.at[i, 'score_neg'] = neg_sum / neg_count

	df['score_pos'].fillna(0, inplace=True)
	df['score_neg'].fillna(0, inplace=True)
	
	return df

In [248]:
# columns that need to be altered/removed
columns=["score1_neg", "score1_pos", "score2_pos", "score2_neg", "score3_pos", "score3_neg", "score4_pos", "score4_neg"]

# create new columns that contain the avg of each row
df_knn_imputed = calculate_scores(df_knn_imputed, columns=columns)
df_knn_imputed_test = calculate_scores(df_knn_imputed_test, columns=columns)

# Drop the unneeded columns from the dataset
df_knn_imputed.drop(columns=[col for col in columns if col in df_knn_imputed], inplace=True)

df_knn_imputed_test.drop(columns=[col for col in columns if col in df_knn_imputed_test], inplace=True)

# show the amount of null fields
print("\ntrain\n", df_knn_imputed.isnull().sum()[df_knn_imputed.isnull().sum() != 0])
print("\ntest\n", df_knn_imputed_test.isnull().sum()[df_knn_imputed_test.isnull().sum() != 0])

df_knn_imputed.head()

train
 Series([], dtype: int64)

test
 Series([], dtype: int64)

,income_am,profit_last_am,profit_am,damage_am,damage_inc,crd_lim_rec,credit_use_ic,insurance_ic,spa_ic,empl_ic,...,gender,shop_am,shop_use,retired,gold_status,outcome_profit,outcome_damage_inc,outcome_damage_amount,score_pos,score_neg
0,227.0,0.0,3201.0,888.0,6.0,15000.0,0.0,0.0,1.0,0.0,...,M,0.000000,0.0,0.0,0.0,1791.66,0,0.00,0.652958,0.532814
1,268.0,16.0,1682.0,0.0,0.0,750.0,0.0,1.0,1.0,0.0,...,M,0.000000,0.0,0.0,0.0,1672.78,1,829.66,0.000000,0.000000
2,283.0,23.0,1673.0,0.0,0.0,750.0,0.0,1.0,0.0,0.0,...,M,0.000000,0.0,0.0,0.0,1001.40,0,0.00,0.232375,0.099529
3,227.0,0.0,1685.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,V,0.000000,0.0,0.0,0.0,1785.59,0,0.00,0.000000,0.889793
4,4091.0,1028.0,3425.0,785.0,2.0,14000.0,0.0,0.0,1.0,0.0,...,V,1454.210627,1.0,0.0,0.0,3140.74,0,0.00,0.410495,0.654370

## 0.3 Changing data types

### 0.3.1 changing floats to int

In [249]:
# These columns are not meant to be floats.
# ex.: You cannot have 0.214 of a child.
# The few that are floats are price or time related.
# 

columns = ["damage_inc", "credit_use_ic", "insurance_ic", "spa_ic", "empl_ic", "cab_requests", "bar_no", "sport_ic", "age", "marketing_permit", "dining_ic", "presidential", "client_segment", "sect_empl", "prev_stay", "prev_all_in_stay", "divorce", "fam_adult_size", "children_no", "tenure_mts", "tenure_yrs", "company_ic", "claims_no", "nights_booked", "shop_use", "retired", "gold_status"]


for col in columns:
    if not df_knn_imputed[col].empty:
        df_knn_imputed[col] = df_knn_imputed[col].astype(np.int64)

print("train\n", df_knn_imputed.info())

# change type to int64 for the test data set

for col in columns:
    if not df_knn_imputed_test[col].empty:
        df_knn_imputed_test[col] = df_knn_imputed_test[col].astype(np.int64)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4947 entries, 0 to 4999
Data columns (total 42 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   income_am              4947 non-null   float64
 1   profit_last_am         4947 non-null   float64
 2   profit_am              4947 non-null   float64
 3   damage_am              4947 non-null   float64
 4   damage_inc             4947 non-null   int64
 5   crd_lim_rec            4947 non-null   float64
 6   credit_use_ic          4947 non-null   int64
 7   insurance_ic           4947 non-null   int64
 8   spa_ic                 4947 non-null   int64
 9   empl_ic                4947 non-null   int64
 10  cab_requests           4947 non-null   int64
 11  married_cd             4947 non-null   bool
 12  bar_no                 4947 non-null   int64
 13  sport_ic               4947 non-null   int64
 14  neighbor_income        4947 non-null   float64
 15  age                    4947 non-null   int64
 16  marketing_permit       4947 non-null   int64
 17  dining_ic              4947 non-null   int64
 18  presidential           4947 non-null   int64
 19  client_segment         4947 non-null   int64
 20  sect_empl              4947 non-null   int64
 21  prev_stay              4947 non-null   int64
 22  prev_all_in_stay       4947 non-null   int64
 23  divorce                4947 non-null   int64
 24  fam_adult_size         4947 non-null   int64
 25  children_no            4947 non-null   int64
 26  tenure_mts             4947 non-null   int64
 27  tenure_yrs             4947 non-null   int64
 28  company_ic             4947 non-null   int64
 29  claims_no              4947 non-null   int64
 30  claims_am              4947 non-null   float64
 31  nights_booked          4947 non-null   int64
 32  gender                 4947 non-null   object
 33  shop_am                4947 non-null   float64
 34  shop_use               4947 non-null   int64
 35  retired                4947 non-null   int64
 36  gold_status            4947 non-null   int64
 37  outcome_profit         4947 non-null   float64
 38  outcome_damage_inc     4947 non-null   int64
 39  outcome_damage_amount  4947 non-null   float64
 40  score_pos              4947 non-null   float64
 41  score_neg              4947 non-null   float64
dtypes: bool(1), float64(12), int64(28), object(1)
memory usage: 1.7+ MB
train
 None

### 0.3.2 Changing Boolean into Binary

In [250]:
# Converting True to 1 and False to 0

df_knn_imputed["married_cd"] = df_knn_imputed["married_cd"].replace({True: 1, False: 0})
df_knn_imputed_test["married_cd"] = df_knn_imputed_test["married_cd"].replace({True: 1, False: 0})

### 0.3.3 Changing the Gender to binary

In [251]:
# Check if the column gender hasn't already been dropped
if "gender" in df_knn_imputed.columns and "gender" in df_knn_imputed_test.columns:
    
	# If gender contained 'M' -> add 1 to the 'male' column, else 0
	df_knn_imputed['male'] = df_knn_imputed['gender'].apply(lambda x: 1 if x == 'M' else 0)

	# If gender contained 'V' -> add 1 to the 'female' column, else 0
	df_knn_imputed['female'] = df_knn_imputed['gender'].apply(lambda x: 1 if x == 'V' else 0)
		
	# Drop the original 'gender' column
	df_knn_imputed.drop('gender', axis=1, inplace=True)

	# Same for the test data set

	df_knn_imputed_test['male'] = df_knn_imputed_test['gender'].apply(lambda x: 1 if x == 'M' else 0)
	df_knn_imputed_test['female'] = df_knn_imputed_test['gender'].apply(lambda x: 1 if x == 'V' else 0)
	df_knn_imputed_test.drop('gender', axis=1, inplace=True)
 
	# set the type to category
	df_knn_imputed['male'] = df_knn_imputed['male'].astype('category')
	df_knn_imputed['female'] = df_knn_imputed['female'].astype('category')
 
	df_knn_imputed_test['male'] = df_knn_imputed_test['male'].astype('category')
	df_knn_imputed_test['female'] = df_knn_imputed_test['female'].astype('category')

In [252]:
df_knn_imputed.head()

,income_am,profit_last_am,profit_am,damage_am,damage_inc,crd_lim_rec,credit_use_ic,insurance_ic,spa_ic,empl_ic,...,shop_use,retired,gold_status,outcome_profit,outcome_damage_inc,outcome_damage_amount,score_pos,score_neg,male,female
0,227.0,0.0,3201.0,888.0,6,15000.0,0,0,1,0,...,0,0,0,1791.66,0,0.00,0.652958,0.532814,1,0
1,268.0,16.0,1682.0,0.0,0,750.0,0,1,1,0,...,0,0,0,1672.78,1,829.66,0.000000,0.000000,1,0
2,283.0,23.0,1673.0,0.0,0,750.0,0,1,0,0,...,0,0,0,1001.40,0,0.00,0.232375,0.099529,1,0
3,227.0,0.0,1685.0,0.0,0,0.0,0,0,0,0,...,0,0,0,1785.59,0,0.00,0.000000,0.889793,0,1
4,4091.0,1028.0,3425.0,785.0,2,14000.0,0,0,1,0,...,1,0,0,3140.74,0,0.00,0.410495,0.654370,0,1

### 3.3.4 Splitting the categorical data to two binary columns

There are a few columns that have to be converted to categorial types. Columns such as "retired". This indicates if a person is retired or not. At this point it is only shown by 0's and 1's. But the AI doesn't know if the 0 means retired or not.

With this categorial types are used to split the 0's and 1's in their respective columns. The function below this text will convert the given original column to two new columns with their respective values (given by us). It will after also convert the type into categorial. At the end, it will drop the original column.

In [253]:
def split_column(df, original_column, new_column1, new_column2):
	if original_column not in df.columns:
		return df
	# create two new columns with the same number of rows as the original column
	df[new_column1] = pd.Series(index=df.index)
	df[new_column2] = pd.Series(index=df.index)
	
	# replace the values in the new columns based on the values in the original column    
	df.loc[df[original_column] == 1, new_column1] = 1
	df.loc[df[original_column] == 0, new_column1] = 0
	df.loc[df[original_column] == 1, new_column2] = 0
	df.loc[df[original_column] == 0, new_column2] = 1
	

	# make categorial
	df[new_column1] = df[new_column1].astype('category')
	df[new_column2] = df[new_column2].astype('category')

	# drop the original column
	df.drop(columns=[original_column], inplace=True)
	
	return df

In [254]:
# adding "yes" and "no" with columns that would otherwise have the same names. ex.: divorce cannot be no_divorce and divorce, because divorce is the original column. So this will be no_divorce and yes_divorce. (Otherwise you'll get empty columns)

df_knn_imputed = split_column(df_knn_imputed, "credit_use_ic", "cash/debitcard_use", "creditcard_use")
df_knn_imputed = split_column(df_knn_imputed, "insurance_ic", "not_insured", "insured")
df_knn_imputed = split_column(df_knn_imputed, "spa_ic", "no_spa", "spa")
df_knn_imputed = split_column(df_knn_imputed, "empl_ic", "no_empl", "empl")
df_knn_imputed = split_column(df_knn_imputed, "sport_ic", "no_sport", "sport")
df_knn_imputed = split_column(df_knn_imputed, "marketing_permit", "no_marketing_perm", "marketing_perm")
df_knn_imputed = split_column(df_knn_imputed, "dining_ic", "no_dining", "dining")
df_knn_imputed = split_column(df_knn_imputed, "presidential", "no_presidential", "yes_presidential")
df_knn_imputed = split_column(df_knn_imputed, "prev_stay", "no_prev_stay", "perv_stay")
df_knn_imputed = split_column(df_knn_imputed, "prev_all_in_stay", "no_prev_all_in_stay", "yes_prev_all_in_stay")
df_knn_imputed = split_column(df_knn_imputed, "divorce", "no_divorce", "yes_divorce")
df_knn_imputed = split_column(df_knn_imputed, "company_ic", "no_company_card", "company_card")
df_knn_imputed = split_column(df_knn_imputed, "shop_use", "no_shop_use", "yes_shop_use")
df_knn_imputed = split_column(df_knn_imputed, "retired", "not_retired", "yes_retired")
df_knn_imputed = split_column(df_knn_imputed, "gold_status", "no_gold_status", "yes_gold_status")
df_knn_imputed = split_column(df_knn_imputed, "outcome_damage_inc", "no_outcome_damage", "outcome_damage")

print(df_knn_imputed.isnull().sum()[df_knn_imputed.isnull().sum() != 0])
# TEST

df_knn_imputed_test = split_column(df_knn_imputed_test, "credit_use_ic", "cash/debitcard_use", "creditcard_use")
df_knn_imputed_test = split_column(df_knn_imputed_test, "insurance_ic", "not_insured", "insured")
df_knn_imputed_test = split_column(df_knn_imputed_test, "spa_ic", "no_spa", "spa")
df_knn_imputed_test = split_column(df_knn_imputed_test, "empl_ic", "no_empl", "empl")
df_knn_imputed_test = split_column(df_knn_imputed_test, "sport_ic", "no_sport", "sport")
df_knn_imputed_test = split_column(df_knn_imputed_test, "marketing_permit", "no_marketing_perm", "marketing_perm")
df_knn_imputed_test = split_column(df_knn_imputed_test, "dining_ic", "no_dining", "dining")
df_knn_imputed_test = split_column(df_knn_imputed_test, "presidential", "no_presidential", "yes_presidential")
df_knn_imputed_test = split_column(df_knn_imputed_test, "prev_stay", "no_prev_stay", "perv_stay")
df_knn_imputed_test = split_column(df_knn_imputed_test, "prev_all_in_stay", "no_prev_all_in_stay", "yes_prev_all_in_stay")
df_knn_imputed_test = split_column(df_knn_imputed_test, "divorce", "no_divorce", "yes_divorce")
df_knn_imputed_test = split_column(df_knn_imputed_test, "company_ic", "no_company_card", "company_card")
df_knn_imputed_test = split_column(df_knn_imputed_test, "shop_use", "no_shop_use", "yes_shop_use")
df_knn_imputed_test = split_column(df_knn_imputed_test, "retired", "not_retired", "yes_retired")
df_knn_imputed_test = split_column(df_knn_imputed_test, "gold_status", "no_gold_status", "yes_gold_status")
df_knn_imputed_test = split_column(df_knn_imputed_test, "outcome_damage_inc", "no_outcome_damage", "outcome_damage")

print(df_knn_imputed_test.isnull().sum()[df_knn_imputed_test.isnull().sum() != 0])

print(df_knn_imputed.info())

Series([], dtype: int64)
Series([], dtype: int64)
<class 'pandas.core.frame.DataFrame'>
Int64Index: 4947 entries, 0 to 4999
Data columns (total 59 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   income_am              4947 non-null   float64
 1   profit_last_am         4947 non-null   float64
 2   profit_am              4947 non-null   float64
 3   damage_am              4947 non-null   float64
 4   damage_inc             4947 non-null   int64
 5   crd_lim_rec            4947 non-null   float64
 6   cab_requests           4947 non-null   int64
 7   married_cd             4947 non-null   int64
 8   bar_no                 4947 non-null   int64
 9   neighbor_income        4947 non-null   float64
 10  age                    4947 non-null   int64
 11  client_segment         4947 non-null   int64
 12  sect_empl              4947 non-null   int64
 13  fam_adult_size         4947 non-null   int64
 14  children_no            4947 non-null   int64
 15  tenure_mts             4947 non-null   int64
 16  tenure_yrs             4947 non-null   int64
 17  claims_no              4947 non-null   int64
 18  claims_am              4947 non-null   float64
 19  nights_booked          4947 non-null   int64
 20  shop_am                4947 non-null   float64
 21  outcome_profit         4947 non-null   float64
 22  outcome_damage_amount  4947 non-null   float64
 23  score_pos              4947 non-null   float64
 24  score_neg              4947 non-null   float64
 25  male                   4947 non-null   category
 26  female                 4947 non-null   category
 27  cash/debitcard_use     4947 non-null   category
 28  creditcard_use         4947 non-null   category
 29  not_insured            4947 non-null   category
 30  insured                4947 non-null   category
 31  no_spa                 4947 non-null   category
 32  spa                    4947 non-null   category
 33  no_empl                4947 non-null   category
 34  empl                   4947 non-null   category
 35  no_sport               4947 non-null   category
 36  sport                  4947 non-null   category
 37  no_marketing_perm      4947 non-null   category
 38  marketing_perm         4947 non-null   category
 39  no_dining              4947 non-null   category
 40  dining                 4947 non-null   category
 41  no_presidential        4947 non-null   category
 42  yes_presidential       4947 non-null   category
 43  no_prev_stay           4947 non-null   category
 44  perv_stay              4947 non-null   category
 45  no_prev_all_in_stay    4947 non-null   category
 46  yes_prev_all_in_stay   4947 non-null   category
 47  no_divorce             4947 non-null   category
 48  yes_divorce            4947 non-null   category
 49  no_company_card        4947 non-null   category
 50  company_card           4947 non-null   category
 51  no_shop_use            4947 non-null   category
 52  yes_shop_use           4947 non-null   category
 53  not_retired            4947 non-null   category
 54  yes_retired            4947 non-null   category
 55  no_gold_status         4947 non-null   category
 56  yes_gold_status        4947 non-null   category
 57  no_outcome_damage      4947 non-null   category
 58  outcome_damage         4947 non-null   category
dtypes: category(34), float64(12), int64(13)
memory usage: 1.3 MB
None

C:\Users\denis\AppData\Local\Temp\ipykernel_17804\3152257370.py:5: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df[new_column1] = pd.Series(index=df.index)
C:\Users\denis\AppData\Local\Temp\ipykernel_17804\3152257370.py:6: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df[new_column2] = pd.Series(index=df.index)
C:\Users\denis\AppData\Local\Temp\ipykernel_17804\3152257370.py:5: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df[new_column1] = pd.Series(index=df.index)
C:\Users\denis\AppData\Local\Temp\ipykernel_17804\3152257370.py:6: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df[new_column2] = pd.Series(index=df.index)
C:\Users\denis\AppData\Local\Temp\ipykernel_17804\3152257370.py:5: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df[new_column1] = pd.Series(index=df.index)
C:\Users\denis\AppData\Local\Temp\ipykernel_17804\3152257370.py:6: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df[new_column2] = pd.Series(index=df.index)
C:\Users\denis\AppData\Local\Temp\ipykernel_17804\3152257370.py:5: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df[new_column1] = pd.Series(index=df.index)
C:\Users\denis\AppData\Local\Temp\ipykernel_17804\3152257370.py:6: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df[new_column2] = pd.Series(index=df.index)
C:\Users\denis\AppData\Local\Temp\ipykernel_17804\3152257370.py:5: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df[new_column1] = pd.Series(index=df.index)
C:\Users\denis\AppData\Local\Temp\ipykernel_17804\3152257370.py:6: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df[new_column2] = pd.Series(index=df.index)
C:\Users\denis\AppData\Local\Temp\ipykernel_17804\3152257370.py:5: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df[new_column1] = pd.Series(index=df.index)
C:\Users\denis\AppData\Local\Temp\ipykernel_17804\3152257370.py:6: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df[new_column2] = pd.Series(index=df.index)
C:\Users\denis\AppData\Local\Temp\ipykernel_17804\3152257370.py:5: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df[new_column1] = pd.Series(index=df.index)
C:\Users\denis\AppData\Local\Temp\ipykernel_17804\3152257370.py:6: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df[new_column2] = pd.Series(index=df.index)
C:\Users\denis\AppData\Local\Temp\ipykernel_17804\3152257370.py:5: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df[new_column1] = pd.Series(index=df.index)
C:\Users\denis\AppData\Local\Temp\ipykernel_17804\3152257370.py:6: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df[new_column2] = pd.Series(index=df.index)
C:\Users\denis\AppData\Local\Temp\ipykernel_17804\3152257370.py:5: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df[new_column1] = pd.Series(index=df.index)
C:\Users\denis\AppData\Local\Temp\ipykernel_17804\3152257370.py:6: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df[new_column2] = pd.Series(index=df.index)
C:\Users\denis\AppData\Local\Temp\ipykernel_17804\3152257370.py:5: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df[new_column1] = pd.Series(index=df.index)
C:\Users\denis\AppData\Local\Temp\ipykernel_17804\3152257370.py:6: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df[new_column2] = pd.Series(index=df.index)
C:\Users\denis\AppData\Local\Temp\ipykernel_17804\3152257370.py:5: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df[new_column1] = pd.Series(index=df.index)
C:\Users\denis\AppData\Local\Temp\ipykernel_17804\3152257370.py:6: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df[new_column2] = pd.Series(index=df.index)
C:\Users\denis\AppData\Local\Temp\ipykernel_17804\3152257370.py:5: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df[new_column1] = pd.Series(index=df.index)
C:\Users\denis\AppData\Local\Temp\ipykernel_17804\3152257370.py:6: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df[new_column2] = pd.Series(index=df.index)
C:\Users\denis\AppData\Local\Temp\ipykernel_17804\3152257370.py:5: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df[new_column1] = pd.Series(index=df.index)
C:\Users\denis\AppData\Local\Temp\ipykernel_17804\3152257370.py:6: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df[new_column2] = pd.Series(index=df.index)
C:\Users\denis\AppData\Local\Temp\ipykernel_17804\3152257370.py:5: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df[new_column1] = pd.Series(index=df.index)
C:\Users\denis\AppData\Local\Temp\ipykernel_17804\3152257370.py:6: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df[new_column2] = pd.Series(index=df.index)
C:\Users\denis\AppData\Local\Temp\ipykernel_17804\3152257370.py:5: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df[new_column1] = pd.Series(index=df.index)
C:\Users\denis\AppData\Local\Temp\ipykernel_17804\3152257370.py:6: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df[new_column2] = pd.Series(index=df.index)
C:\Users\denis\AppData\Local\Temp\ipykernel_17804\3152257370.py:5: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df[new_column1] = pd.Series(index=df.index)
C:\Users\denis\AppData\Local\Temp\ipykernel_17804\3152257370.py:6: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df[new_column2] = pd.Series(index=df.index)
C:\Users\denis\AppData\Local\Temp\ipykernel_17804\3152257370.py:5: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df[new_column1] = pd.Series(index=df.index)
C:\Users\denis\AppData\Local\Temp\ipykernel_17804\3152257370.py:6: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df[new_column2] = pd.Series(index=df.index)
C:\Users\denis\AppData\Local\Temp\ipykernel_17804\3152257370.py:5: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df[new_column1] = pd.Series(index=df.index)
C:\Users\denis\AppData\Local\Temp\ipykernel_17804\3152257370.py:6: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df[new_column2] = pd.Series(index=df.index)
C:\Users\denis\AppData\Local\Temp\ipykernel_17804\3152257370.py:5: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df[new_column1] = pd.Series(index=df.index)
C:\Users\denis\AppData\Local\Temp\ipykernel_17804\3152257370.py:6: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df[new_column2] = pd.Series(index=df.index)
C:\Users\denis\AppData\Local\Temp\ipykernel_17804\3152257370.py:5: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df[new_column1] = pd.Series(index=df.index)
C:\Users\denis\AppData\Local\Temp\ipykernel_17804\3152257370.py:6: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df[new_column2] = pd.Series(index=df.index)
C:\Users\denis\AppData\Local\Temp\ipykernel_17804\3152257370.py:5: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df[new_column1] = pd.Series(index=df.index)
C:\Users\denis\AppData\Local\Temp\ipykernel_17804\3152257370.py:6: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df[new_column2] = pd.Series(index=df.index)
C:\Users\denis\AppData\Local\Temp\ipykernel_17804\3152257370.py:5: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df[new_column1] = pd.Series(index=df.index)
C:\Users\denis\AppData\Local\Temp\ipykernel_17804\3152257370.py:6: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df[new_column2] = pd.Series(index=df.index)
C:\Users\denis\AppData\Local\Temp\ipykernel_17804\3152257370.py:5: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df[new_column1] = pd.Series(index=df.index)
C:\Users\denis\AppData\Local\Temp\ipykernel_17804\3152257370.py:6: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df[new_column2] = pd.Series(index=df.index)
C:\Users\denis\AppData\Local\Temp\ipykernel_17804\3152257370.py:5: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df[new_column1] = pd.Series(index=df.index)
C:\Users\denis\AppData\Local\Temp\ipykernel_17804\3152257370.py:6: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df[new_column2] = pd.Series(index=df.index)
C:\Users\denis\AppData\Local\Temp\ipykernel_17804\3152257370.py:5: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df[new_column1] = pd.Series(index=df.index)
C:\Users\denis\AppData\Local\Temp\ipykernel_17804\3152257370.py:6: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df[new_column2] = pd.Series(index=df.index)
C:\Users\denis\AppData\Local\Temp\ipykernel_17804\3152257370.py:5: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df[new_column1] = pd.Series(index=df.index)
C:\Users\denis\AppData\Local\Temp\ipykernel_17804\3152257370.py:6: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df[new_column2] = pd.Series(index=df.index)
C:\Users\denis\AppData\Local\Temp\ipykernel_17804\3152257370.py:5: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df[new_column1] = pd.Series(index=df.index)
C:\Users\denis\AppData\Local\Temp\ipykernel_17804\3152257370.py:6: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df[new_column2] = pd.Series(index=df.index)
C:\Users\denis\AppData\Local\Temp\ipykernel_17804\3152257370.py:5: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df[new_column1] = pd.Series(index=df.index)
C:\Users\denis\AppData\Local\Temp\ipykernel_17804\3152257370.py:6: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df[new_column2] = pd.Series(index=df.index)
C:\Users\denis\AppData\Local\Temp\ipykernel_17804\3152257370.py:5: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df[new_column1] = pd.Series(index=df.index)
C:\Users\denis\AppData\Local\Temp\ipykernel_17804\3152257370.py:6: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df[new_column2] = pd.Series(index=df.index)
C:\Users\denis\AppData\Local\Temp\ipykernel_17804\3152257370.py:5: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df[new_column1] = pd.Series(index=df.index)
C:\Users\denis\AppData\Local\Temp\ipykernel_17804\3152257370.py:6: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df[new_column2] = pd.Series(index=df.index)
C:\Users\denis\AppData\Local\Temp\ipykernel_17804\3152257370.py:5: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df[new_column1] = pd.Series(index=df.index)
C:\Users\denis\AppData\Local\Temp\ipykernel_17804\3152257370.py:6: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df[new_column2] = pd.Series(index=df.index)

In [255]:
df_knn_imputed.head()

,income_am,profit_last_am,profit_am,damage_am,damage_inc,crd_lim_rec,cab_requests,married_cd,bar_no,neighbor_income,...,no_company_card,company_card,no_shop_use,yes_shop_use,not_retired,yes_retired,no_gold_status,yes_gold_status,no_outcome_damage,outcome_damage
0,227.0,0.0,3201.0,888.0,6,15000.0,3,1,2,28936.0,...,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0
1,268.0,16.0,1682.0,0.0,0,750.0,7,1,3,16674.0,...,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0
2,283.0,23.0,1673.0,0.0,0,750.0,1,1,4,32552.0,...,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0
3,227.0,0.0,1685.0,0.0,0,0.0,6,1,8,32252.0,...,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0
4,4091.0,1028.0,3425.0,785.0,2,14000.0,4,0,2,29605.0,...,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0

## 0.4 Log-transformation on data

In [256]:
from scipy.stats import skew


# I will only log transform the 'shop_am' because it is the only column with drastic changes in values. Most of the time it is 0, but other times it is 14542106266736800.

# Because np.log1p() only works with floats, I will change the column 'shop_am' to a float. After the log transform, it is changed back to int64

df_knn_imputed['shop_am'] = df_knn_imputed['shop_am'].astype(np.float64)

skewed = skew(df_knn_imputed['shop_am'].dropna().astype(float))
if skewed > 0.75:
    df_knn_imputed['shop_am'] = np.log1p(df_knn_imputed['shop_am'])

df_knn_imputed['shop_am'] = df_knn_imputed['shop_am'].astype(np.int64)

# now also on the test dataset

df_knn_imputed_test['shop_am'] = df_knn_imputed_test['shop_am'].astype(np.float64)

skewed = skew(df_knn_imputed_test['shop_am'].dropna().astype(float))
if skewed > 0.75:
    df_knn_imputed_test['shop_am'] = np.log1p(df_knn_imputed_test['shop_am'])

df_knn_imputed_test['shop_am'] = df_knn_imputed_test['shop_am'].astype(np.int64)

In [257]:
# showing the log transformed data

df_knn_imputed['shop_am'].head()

0    0
1    0
2    0
3    0
4    7
Name: shop_am, dtype: int64

## 0.5 Storing cleaned dataset

In [258]:
# the cleaned csv will now be in the file train_V2_cleaned and will be used for the rest of the calculations

df_knn_imputed.to_csv('train_V2_cleaned.csv', index=False)
df_knn_imputed_test.to_csv('score_cleaned.csv', index=False)